<?=$this->render('includes/layout-header.phtml')?>

<div class="page-news">
	<div class="wx-layout__horizont horizont-sidebar">
		<div id="st-container" class="st-container">
			<div class="st-pusher">
				<nav class="wx-sidebar st-menu st-effect-1" id="menu-1">
					<ul>
						<li>
							<a href="<?=Eh_Url::index()?>" title="Enterprise Hungary" class="logo">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.79 19.787"><path d="M3.245 5.316v-.793H5.29v-.84H3.246V2.89h2.23v-.897h-3.27V6.21H5.49v-.894m9.286 12.477l-.002-1.668h1.775v1.668h1.03v-4.217h-1.03v1.643h-1.775v-1.647h-1.04v4.217"/><path d="M0 0v19.787h19.79V0H0zm1 1h17.083L1 18.08V1zm17.79 17.787H1.707L18.79 1.707v17.08z"/></svg>
							</a>
						</li>
					<li><a href="<?=Eh_Url::index()?>#.programjaink"><?=t('TAB_PROGRAMS_TITLE')?></a></li>
					<li><a href="<?=Eh_Url::index()?>#.kuldetesunk"><?=t('TAB_MISSION_TITLE')?></a></li>
					<li><a href="<?=Eh_Url::index()?>#.hirek"><?=t('TAB_NEWS_TITLE')?></a></li>
					<li><a href="<?=Eh_Url::index()?>#.esemenyek"><?=t('TAB_EVENTS_TITLE')?></a></li>
					</ul>
				</nav>
				<div class="st-content">
					<div class="st-content-inner">
						<?=$this->render('header.phtml')?>
						<div class="main-content">
							<?=$this->layout()->content ?>
						</div>
						<?=$this->render('footer.phtml')?>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<?=$this->render('includes/layout-footer.phtml')?>
