h1, h2, h3, h4, h5, h6 {
	color: #1e1e1e;
}

h1 {
	font-size: responsive;
	min-font-size: 24px;
	max-font-size: 48px;
	lower-font-range: 480px;
	upper-font-range: 1024px;
}

h2 {
	font-size: 36px;
}

.p83 {
	padding-top: 83px;
	padding-bottom: 83px;
}

.palette {
	background-image: url(/svg/eh-palette.svg);
}

/**/

.btn-primary {
	text-transform: uppercase;
	font-size: 12px;
	border-width: 2px;
	font-family: 'GalanoGrotesque-Bold', sans-serif;
	border-color: $brand-color;
	color: $brand-color;
	padding: inherit;
	padding: 14px 23px;
	transition: .3s;
	border-radius: 0;

	&:hover {
		border: 2px solid $brand-color;
		background: $brand-color;
		color: #ffffff;
	}
}

.svg-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}


.pull-down {
	bottom: inherit;
	top: 485px;
	width: 51px;
}

.card-slider__wrapper .bx-wrapper {
	margin: 0;
}

.wx-layout__horizont {
	.wx-slider-container {
		.bx-wrapper {
			ul {
				li {
					.slider-elem__container  {
						justify-content: flex-start;
						display: table;
						width: 100%;

						h1 {
							font-family: 'GalanoGrotesque-Bold';
							display: flex;
							font-size: 48px;
							line-height: 56px;
							flex-wrap: wrap;
							margin-top: 242px;
							color: #fff;
							padding: 0 190px;

							display: table-cell;
							vertical-align: middle;
							padding-bottom: 240px;
						}
					}
				}
			}

			.bx-controls-direction  {

				a {
					top: 305px;
				}
			}

			.bx-prev {
				left: 37px;
			}

			.bx-next {
				right: 45px;
			}
		}
	}
}

/*
* Sprite
******************************************************************************/
.icon--arrow-down{
	display: block;
	background-image: url(/images/dist/eh-sprite.png);
	background-position: 0 0;
	width: 51px;
	height: 48px;
}
.icon--arrow-left {
	background-image: url(/images/dist/eh-sprite.png);
	background-position: 0 -49px;
	height: 51px;
	width: 48px;
	display: block;
}
.icon--arrow-right {
	background-image: url(/images/dist/eh-sprite.png);
	background-position: 0px -101px;
	height: 51px;
	width: 48px;
	display: block;
}
.icon--arrow-right-news{
	background-image: url(/images/dist/eh-sprite.png);
	background-position: 0 -101px;
	width: 48px;
	height: 51px;
}
.map-envelop{
	background-image: url(/images/dist/eh-sprite.png);
	background-position: 0 -153px;
	width: 21px;
	height: 20px;
}
.map-phone{
	background-image: url(/images/dist/eh-sprite.png);
	background-position: 0 -174px;
	width: 16px;
	height: 22px;
}
