footer {
	width: 100%;
	height: 248px;
	background: $footer-bg;
	color: $footer-color;

	.footer-desc {
		padding-top: 72px;

		h3 {
			color: $footer-color;
			//font-family: 'galanogrotesque-bold', sans-serif;
			margin-bottom: 17px;
			margin-top: 2px;
			font-size: 18px;
		}
		span {
			text-transform: uppercase;

			&.data {
				display: block;
				line-height: 27px;
			}
		}
	}

	.footer-social {
		padding-top: 90px;
		padding-right: 41px;

		a {
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 55px;
			text-align: center;
			margin-right: 10px;
			box-sizing: border-box;
			border: 3px solid $footer-color;
			transition: background .3s;

			span {
				color: $footer-color;
				font-size: 24px;
			}

			&:hover {
				background: $footer-color;

				span {
					color: $footer-bg;
				}
			}
		}
	}
}
