@media screen and (max-width: 479px) {

	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	[class*=col-] {
		padding-left: 20px;
		padding-right: 20px;
	}

	.row {
		margin-left: -20px;
		margin-right: -20px;
	}

	.p83 {
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.horizont-sidebar {
		.st-container {
			.wx-wrap-navbar {
				.wx-toggle-navbar {
					background: white;
					position: relative;
					height: 75px;
					.logo {
						width: 55px;
						position: absolute;
						right: 0;
						left: 0;
						top:13px;

						margin: 0 auto;

						svg {
							fill: $brand-color;
						}
					}
				}

				.navbar-default  {
					.navbar-toggle {
						border: 0;
						margin-top: 3px;

						.icon-bar {
							width: 40px;
							height: 3px;
							border-radius: 0;
							background: #000;
							margin-top: 10px;
						}

						&:hover {
							border: 0;
							background: transparent;
						}
					}
				}
			}
		}
	}

	.wx-layout__horizont {
		.main-content {
			margin-top: 360px;
		}

		.wx-slider-container {
			.bx-wrapper {
				.bx-viewport {
					height: 435px !important;
				}

				ul {
					li {
						.slider-elem__container {
							height: 435px;
							justify-content: center;

							h1 {
								margin-top: 0;
								font-size: 26px;
							    line-height: 31px;
							    padding: 0 0px;
							}
						}
					}
				}

				.bx-controls-direction {
					a {
						top: 241px
					}
				}

				.bx-prev {
					left: 0px;
				}

				.bx-next {
					right: 10px;
				}
			}
		}
	}


	.section-offers {
		.card-offers {
			position: relative;
			margin-top: 0;

			.card-iconic {
				.image-wrapper {
					margin-bottom: 37px;
				}

				p {
					font-size: 16px;
				}
			}

			.box1 {
				&:before {
					display: none;
				}
			}
			.box2 {
				&:before {
					display: none;
				}
			}
			.box3 {
				&:before {
					display: none;
				}
			}

			.col-xs-12 {
				padding: 0;

				&:nth-child(1) {
					.card-iconic {
						background: #3283c4;
					}
				}
				&:nth-child(2) {
					.card-iconic {
						background: #1b70b3;
					}
				}
				&:nth-child(3) {
					.card-iconic {
						background: #17639f;
					}
				}
			}

			&:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left:0;
				right: 0;
				content: '';
				display: block;
				background-size: 960px;
				background-position: top center;
				background-image: url(/svg/eh-palette.svg);
				opacity: .05;
			}
		}

		.our-mission {
			h1 {
				margin-bottom: 40px;
			}
		}
	}

	.section-news {
		&.p83 {
			padding-top: 38px;
		}

		h2 {
			font-size: 36px;
			margin-bottom: 39px;
		}
		.card-news-wrapper {
			margin-bottom: 32px;

			.card-iconic {
				span {
					padding-top: 17px;
				}

				p {
					padding-bottom: 15px;
				}
			}

			[class*=col-]:last-of-type {
				p {
					padding-bottom: 0;
				}
			}
		}

		.wx-list-more {
			width: 100%;
			height: 67px;
    		line-height: 37px;
		}
	}

	.section-subscribe  {
		&.p83 {
			padding-top: 40px;
		}
		h2 {
			font-size: 36px;
			padding: 0 10px;
			line-height: 41px;
		}

		.subscribe-form__wrapper  {
			margin-top: 33px;

			form {
				margin-top: 33px;
				margin: 0 auto;
				display: inline-block;
				padding: 0 20px 0 20px;

				.btn-primary {
					width: 100%;
					height: 67px;
					margin-top: 20px;

					&.pull-left {
						float: none !important;
					}
				}
				.form-control {
					margin-bottom: -2px;
					width: 100%;
					height: 67px;
					font-size: 14px;
    				font-family: galanogrotesque-medium,sans-serif;
    				padding: 6px 22px;
				}
			}
		}
	}

	.section-events {
		&.p83 {
			padding-top: 36px;
		}
		h2 {
			font-size: 36px;
			margin-bottom: 38px;
		}

		.bx-wrapper {
			.bx-pager {
				bottom: -62px;
			}
		}
	}

	.section-map {
		.map-container {
			#map {
				height: 700px;
			}

			.map-infobox {
				width: 100%;
				margin: 0;
				bottom: 0;
				padding: 68px 50px;
				right: initial;
				top: initial;
				min-width: initial;
				max-width: initial;
			}
		}
	}

	footer {
		height: 100%;
		text-align: center;

		.footer-desc {
			padding-left: 0;
		}

		.footer-social {
			&.pull-right {
				float: none !important;
				padding-right: 0;
			}
		}
	}

	.footer-row {
		display: flex;
		flex-direction: column;

		.footer-col-desc {
			display: flex;
			flex-direction: column;
			order: 2;

			.footer-desc {
				padding-top: 74px;
				padding-bottom: 88px;
			}
		}

		.footer-col-icon {
			display: flex;
			flex-direction: column;
			order: 1;

			.footer-social {
				padding-top: 74px;
			}
		}
	}

	.page-news {
		.wx-layout__horizont {
			.main-content {
				margin-top: 0;
			}
		}

		.news-content-wrapper {
			.news-content__header {
				.fb-share-button {
					margin: 15px 0px 0px 0;
				}
			}

			.news-content__inner {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.section-header {
			height: 426px;

			.news-header {
				height: 357px;
			}
		}
	}

	.section-incube {

		.card-iconic {
			p {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 30px;
			}
		}
	}
}
