@media screen and (min-width: 480px) and (max-width: 767px) {

	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	[class*=col-] {
		padding-left: 20px;
		padding-right: 20px;
	}

	.row {
		margin-left: -20px;
		margin-right: -20px;
	}

	.wx-layout__horizont {
		.main-content {
			margin-top: 565px;
		}

		.wx-slider-container {
			.bx-wrapper {
				ul  {
					li {
						height: 640px;
						.slider-elem__container {
							h1 {
								font-size: 38px;
								padding: 0 40px 60px;
							}
						}
					}
				}
				.bx-controls-direction {
					a {
						top: 241px
					}
				}

				.bx-prev {
					left: 15px;
				}

				.bx-next {
					right: 25px;
				}
			}
		}
	}

	.horizont-sidebar {
		.st-container {
			.wx-wrap-navbar {
				.wx-toggle-navbar {
					.logo {
						margin-top: 28px;
						display: inline-block;
						position: absolute;
					    left: 50%;
					    margin-left: -25px;
					}
				}
			}

			.navbar-default  {
				.navbar-toggle {
					border: 0;
					margin-top: 20px;

					.icon-bar {
						width: 40px;
						height: 3px;
						border-radius: 0;
						background: #fff;
						margin-top: 10px;
					}

					&:hover {
						border: 0;
						background: transparent;
					}
				}

				&.navbar-fixed-top {
					.navbar-toggle {
						border: 0;
						margin-top: 3px;

						.icon-bar {
							width: 40px;
							height: 3px;
							border-radius: 0;
							background: #000;
							margin-top: 10px;
						}
					}

					.logo {
						margin-top: 12px;
					}
				}
			}
		}
	}


	.section-offers {
		.card-offers {
			position: relative;
			margin-top: 0;

			.card-iconic {
				.image-wrapper {
					margin-bottom: 37px;
				}

				p {
					font-size: 16px;
				}
			}

			.box1 {
				&:before {
					display: none;
				}
			}
			.box2 {
				&:before {
					display: none;
				}
			}
			.box3 {
				&:before {
					display: none;
				}
			}

			.col-xs-12 {
				padding: 0;

				&:nth-child(1) {
					.card-iconic {
						background: #3283c4;
					}
				}
				&:nth-child(2) {
					.card-iconic {
						background: #1b70b3;
					}
				}
				&:nth-child(3) {
					.card-iconic {
						background: #17639f;
					}
				}
			}

			&:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left:0;
				right: 0;
				content: '';
				display: block;
				background-size: 960px;
				background-position: top center;
				background-image: url(/svg/eh-palette.svg);
				opacity: .05;
			}
		}

		.our-mission {
			h1 {
				margin-bottom: 40px;
			}
		}
	}

	.section-news {
		.card-news-wrapper {
			margin-bottom: 32px;

			.card-iconic {
				p {
					padding-bottom: 15px;
				}
			}

			[class*=col-]:last-of-type {
				p {
					padding-bottom: 0;
				}
			}
		}

		.wx-list-more {
			width: 100%;
			height: 67px;
    		line-height: 37px;
		}
	}

	.section-subscribe  {
		.subscribe-form__wrapper  {
			form {
				margin: 0 auto;
				display: inline-block;
				padding: 0 20px 0 20px;

				.btn-primary {
					width: 100%;
					height: 67px;
					margin-top: 20px;

					&.pull-left {
						float: none !important;
					}
				}
				.form-control {
					margin-bottom: -2px;
					width: 100%;
					height: 67px;
					font-size: 14px;
    				font-family: galanogrotesque-medium,sans-serif;
    				padding: 6px 22px;
				}
			}
		}
	}

	.section-map {
		.map-container {
			#map {
				height: 700px;
			}

			.map-infobox {
				width: 90%;
				margin: 0 5%;
				bottom: 5%;
				right: initial;
				top: initial;
				min-width: initial;
				max-width: initial;
			}
		}
	}

	footer {
		height: 100%;
		text-align: center;

		.footer-desc {
			padding-left: 0;
		}

		.footer-social {
			&.pull-right {
				float: none !important;
				padding-right: 0;
			}
		}
	}

	.footer-row {
		display: flex;
		flex-direction: column;

		.footer-col-desc {
			display: flex;
			flex-direction: column;
			order: 2;

			.footer-desc {
				padding-top: 74px;
				padding-bottom: 88px;
			}
		}

		.footer-col-icon {
			display: flex;
			flex-direction: column;
			order: 1;

			.footer-social {
				padding-top: 74px;
			}
		}
	}

	.page-news {
		.wx-layout__horizont {
			.main-content {
				margin-top: 0;
			}
		}

		.horizont-sidebar {
			.st-container {
				.wx-wrap-navbar {
					.wx-toggle-navbar {
						background: #fff;
						position: relative;
						height: 75px;

						.logo {
							margin-top: 13px;
							display: inline-block;
							color: #337ab7;

							svg {
								fill: $brand-color
							}
						}

						.navbar-toggle {
							margin-top: 4px;

							.icon-bar {
								background: #000000;
							}
						}
					}
				}
			}
		}

		.news-content-wrapper {
			.news-content__inner {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}
