@media screen and (min-width: 768px) and (max-width: 1024px) {

	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	[class*=col-] {
		padding-left: 20px;
		padding-right: 20px;
	}

	.row {
		margin-left: -20px;
		margin-right: -20px;
	}

	.wx-layout__horizont {

		.navbar-default  {
			.navbar-toggle {
				border: 0;
				margin-top: 3px;

				.icon-bar {
					width: 40px;
					height: 3px;
					border-radius: 0;
					background: #000;
					margin-top: 10px;
				}
			}
		}

		.wx-slider-container {
			.bx-wrapper {
				ul  {
					li {
						.slider-elem__container {
							h1 {
								font-size: 38px;
								padding: 0 60px 240px;
							}
						}
					}
				}
			}
		}

		.wx-navbar {
			.menu-line {
				.side-left {
					a {
						margin-left: 30px;
					}
				}
				.side-center {
					padding: 0 40px;
				}
				.side-right {
					a {
						margin-right: 30px;
					}
				}
			}
		}
	}

	.section-offers {
		.card-offers  {
			.card-iconic {
				padding: 0 20px 50px;
			}
		}
	}

	.section-subscribe {
		.subscribe-form__wrapper {
			form {
				.form-control {
					margin-bottom: 20px;
					width: 30%;
					margin-right: 5%;

					&:nth-of-type(3) {
						margin-right: 0;
					}
				}

				.btn-primary {
					width: 100%;
				}
			}
		}
	}

	.section-map {
		.container-fluid {
			padding: 0;
		}
		.map-container {
			.map-infobox {
				padding: 68px 50px;
				min-width: initial;
				max-width: 50%;
			}
		}
	}

	.page-news {
		.section-news {
			&.p83 {
				padding-bottom: 54px;
			}
		}

		.news-content-wrapper {

			.news-content__inner {
				padding: 58px 64px
			}
		}
	}

	.section-incube {
		.card-iconic {
			p {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 30px;
			}
		}
	}
}
