.wx-layout__horizont {
	.wx-navbar  {

		.menu-line {
			margin-top: 52px;
			display: table;
			width: 100%;

			a {
				text-transform: uppercase;
				font-size: 16px;
			}

			.side {
				display: table-cell;
				vertical-align: middle;
			}

			.side-left {
				width: 49%;
				text-align: right;
				a {
					margin-left: 42px;
				}
			}

			.side-center {
				padding: 0 42px;
				svg {
					width: 50px;
					fill: white;
				}
			}
			.side-right {
				width: 49%;

				a {
					margin-right: 42px;
				}
			}
		}

		.navbar-fixed-top {
			.menu-line {
				a {
					color: #1e1e1e;
				}

				.side-center {
					svg {
						fill: $brand-color;
						position: relative;
						top: 2.5px;
					}
				}
			}
		}

		.navbar-default.header-change-height {

			.menu-line {
				height: 75px;
				margin-top: 0;
				border-bottom: 1px solid #e7e7e7;
				background: #fff;
			}
		}
	}
}

.navbar {
	.wx-toggle-navbar {
		svg {
			fill: #fff;
			width: 50px;
		}
	}

	&.navbar-fixed-top {
		.wx-toggle-navbar {
			height: 75px;
			margin-top: 0;
			border-bottom: 1px solid #e7e7e7;
			background: #fff;

			svg {
				fill: $brand-color;
			}
		}
	}
}

.wx-sidebar {
	&.st-menu {
		ul {
			li:first-child {
				a {
					fill: #1b75bc;
					width: 80px;
					margin: 10px 0 50px 0;
				}
			}
		}
	}
}
