.section-news {
	h2 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 71px;
	}

	.card-news-wrapper {
		margin-bottom: 62px;

		.card-iconic {
			padding: 0;
			background: transparent;
			.visual-forward {
				position: relative;
				height: 240px;
				margin: 0;

				.link-forward {
					display: none;
				}

				&:hover {

					.link-forward {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background-color: rgba(27,117,188,.9);

						.icon--arrow-right-news {
							width: 48px;
							background-image: url(/images/dist/eh-sprite.png);
							background-position: 0 -101px;
							height: 51px;
							position: absolute;
							top: 0;
							margin: auto;
							left: 0;
							right: 0;
							bottom: 0;
						}
					}
				}
			}

			span {
				font-size: 14px;
				line-height: 28px;
				color: #cbcbcb;
				font-family: 'GalanoGrotesque-Medium', sans-serif;
				text-transform: uppercase;
				padding: 15px 0 0 0;
			}

			p {
				font-size: 20px;
				line-height: 26px;
				padding: 6px 0 0 0;
			}
		}
	}

	.wx-list-more {
		border: 2px solid $brand-color;
		font-family: 'GalanoGrotesque-Bold', sans-serif;
		border-radius: 0;
		padding: 14px 23px;
		transition: .3s;

		&:hover {
			border: 2px solid $brand-color;
			background: $brand-color;
			color: #ffffff;
		}
	}
}
