
.section-subscribe {
	text-align: left;
	background-color: #f5f6f8;

	h2 {
		color: #1e1e1e;
		text-align: center;
		line-height: 32px;
		margin-top: 0;

		small {
			color: #717d87;
			font-size: 18px;
			line-height: 28px;
			padding-top: 6px;
		}
	}

	.subscribe-form__wrapper {
		text-align: center;
		margin-top: 80px;

		a {
			color: $brand-color;
		}

		form {
			margin: 0 auto;
			display: inline-block;

			.form-control {
				margin-right: 20px;
				width: 188px;
			}

			.form-control,
			.btn-primary {
				background: transparent;
				height: 47px;
				background: transparent;
				border: 2px solid #909091;
				border-radius: 0;
				font-size: 12px;
				font-family: 'GalanoGrotesque-Bold' ,sans-serif;
			}

			.btn-primary {
				border-color: $brand-color;
				color: $brand-color;
				padding: inherit;
				padding: 14px 23px;
				transition: .3s;

				&:hover {
					border: 2px solid $brand-color;
					background: $brand-color;
					color: #ffffff;
				}
			}
		}
	}
}
