.section-map {

	.map-container {
		color: #1e1e1e;
		padding: 0;

		#map {
			height: 600px;
		}

		.map-infobox {
			border: 0;
			padding: 68px 100px;
			width: initial;
			min-width: 28%;
			max-width: 40%;
			top: 105px;

			h3 {
				font-size: 24px;
				color: #1e1e1e;
				font-family: 'GalanoGrotesque-Bold', sans-serif;
			}

			p {
				color: #5e6870;
				font-size: 16px;
				line-height: 26px;
				text-align: center;
				width: 100%;
				margin-bottom: 50px;
			}


			span {
				width: 100%;
				display: inline-block;
				text-align: left;

				&.map-contact {
					height: 40px;
					line-height: 40px;
					font-size: 14px;
					white-space: nowrap;
					display: inherit;
				}

				.map-icon {
					background-image: url(/images/dist/eh-sprite.png);
					background-repeat: no-repeat;
				    position: relative;
				}

				.map-envelop{
					background-position: 0 -153px;
					width: 21px;
					height: 20px;
					margin-right: 16px;
				    top: 6px;
				}
				.map-phone{
					background-position: 0 -174px;
					width: 16px;
					height: 22px;
					margin-right: 18px;
				    top: 6px;
				    margin-left: 2px;
				}

				.map-contact {
					&:nth-child(1) {
						margin-bottom: 17px;
					}
				}


				a {
					color: #1e1e1e;
				}
			}
		}
	}
}
