.section-incube {
	border-bottom: 1px solid #e7e7e7;

	.card-iconic {
		border: 0;

		.svg-icon {
			width: 50px;
			height: 50px;
			margin: 0 auto;
			margin-bottom: 33px;
		}

		h3 {
			text-transform: uppercase;
			text-align: center;
			font-size: 20px;
			font-family: 'GalanoGrotesque-Bold';
			margin-bottom: 32px;
		}

		p {
			font-size: 15px;
			line-height: 26px;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
