.section-offers {
	background-color: #f5f6f8;
	position: relative;

	&:before {
		background-size: 960px;
		opacity: .9;
		background-position: top center;
		background-image: url(/svg/eh-palette.svg);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		content: '';
		display: block;
		z-index: 0;
	}

	.card-offers {

		margin-top: -200px;

		.card-iconic {
			width: 100%;
			border: 0;
			background-color: rgba(27,117,188,.9);

			padding: 0 70px 50px 70px;

			.image-wrapper {
				height: 108px;
				position: relative;
				margin-bottom: 47px;

				img {
					margin: 0 auto;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}

			p {
				color: white;
				line-height: 24px;
				font-size: 13px;
				text-align: center;
				margin-bottom: 45px;
			}

			.btn-offer {
				background: transparent;
				border: 2px solid #d6e6f3;
				color: white;
				text-transform: uppercase;
				border-radius: 0;
				font-size: 11px;
				padding: 14px 43px;
				width: 139px;
				margin: 0 auto;
				transition: .3s;
				z-index: 1;

				&:hover {
					background: white;
					color: $brand-color;
					border-color: #ffffff;
				}
			}
		}

		.box {
			position: relative;
		}
		.box1, .box2, .box3 {
			&:before {
				width: 100%;
				height: 100%;

				background-size: 960px;
				background-position: top center;
				background-image: url(/svg/eh-palette.svg);
				background-size: 960px;
				position: absolute;
				top: 0;
				left: 0;

				content: '';
				display: block;
				z-index: 0;

				opacity: .05;
			}
		}
		.box1 {
			&:before {
				background-position: 22px 200px;
			}
		}
		.box2 {
			&:before {
				background-position: center 199px;
			}
		}
		.box3 {
			&:before {
				background-position: -661px 200px;
			}
		}
	}

	.our-mission {
		color: #1e1e1e;

		h1 {
			margin-top: 0;
			text-transform: uppercase;
			font-family: 'GalanoGrotesque-Bold';
		}

		p {
			font-size: 15px;
			line-height: 28px;

			b, strong {
				font-family: 'GalanoGrotesque-Bold';
			}
		}
	}
}
