/*
	Sizes
********************************************************************/
$page-width: 						 100%;
$slider-height: 					826px;
$navbar-height: 					 75px;
$wx-image-background-height:		$slider-height;
$sidebar-width: 					240px;

/*
	Base Typo
********************************************************************/
$font-size: 						13px;
$font-color: 						black;
$font-family: 						'galanogrotesque-medium', sans-serif;

/*
	Colors Backgrounds
********************************************************************/
$body-bg:							white;

$brand-color: 						#1b75bc;

$link-color: 						white;
$link-hover-color:					lightgray;

$btn-primray-color: 				#1b75bc;
$btn-primray-bg: 					transparent;
$btn-primray-border: 				#1b75bc;

$btn-primray-hover-color: 			white;
$btn-primray-hover-bg: 				#306d9a;
$btn-primray-hover-border: 			#306d9a;

/*
	Navbar
********************************************************************/

$navbar-bg: 						transparent;
$navbar-scrolled-bg: 				white;
$navbar-link-color:					white;

/*
	Header
********************************************************************/
$header-effect-bg: 					white;
$wx-header-color: 					white;
$slider-text-color: 				white;


$slider-control-color: 				white;
$slider-control-color-hover: 		white;
/*
	Footer
********************************************************************/

$footer-bg: 						#202021;
$footer-color: 						white;

/*
	Pull Down
********************************************************************/
$pull-down-button-bg: 				white;
$pull-down-button-hover-bg: 		white;

$pulldown-color:					white;
$pulldown-color-hover:				white;
/*
	Sidebar
********************************************************************/
$sidebar-bg: 						black;
$sidebar-head-color: 				white;
$sidebar-link-color:				white;
$sidebar-link-hover-color: 			lightgray;

/*
	Card's
********************************************************************/
$card-iconic-bg: 					white;
$card-iconic-border-color: 			black;

$card-slider-controls-bg: 			black;
$card-slider-controls-hover-bg: 	lightgray;

$card-slider-controls-color: 		white;
$card-slider-controls-hover-color: 	white;

/*
	Timeline
********************************************************************/

$timeline-bullet-border: 			black;
$timeline-bullet-bg: 				white;
$timeline-line-color: 				black;
