<?=$this->render('includes/header-slider.phtml')?>
<section class="section-offers">
	<div class="container" id="ismerd-meg">

		<div class="row card-wrapper card-offers">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 programjaink">
				<div class="card-iconic box box1">
					<div class="image-wrapper">
						<img class="img-responsive" src="/images/dist/top-brand-1.png" alt="">
					</div>
					<p>
						<?=t('LANDING_BRANDS_1_DESCRIPTION')?>
					</p>
					<a href="<?=t('LANDING_BRANDS_1_BUTTON_LINK')?>" target="_blank" class="btn btn-offer"><?=t('LANDING_BRANDS_1_BUTTON_LABEL')?></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic box box2">
					<div class="image-wrapper">
						<img class="img-responsive" src="/images/dist/top-brand-2.png" alt="">
					</div>
					<p>
						<?=t('LANDING_BRANDS_2_DESCRIPTION')?>
					</p>
					<a href="<?=t('LANDING_BRANDS_2_BUTTON_LINK')?>" target="_blank" class="btn btn-offer"><?=t('LANDING_BRANDS_2_BUTTON_LABEL')?></a>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic box box3">
					<div class="image-wrapper">
						<img class="img-responsive" src="/images/dist/top-brand-3.png" alt="">
					</div>
					<p>
						<?=t('LANDING_BRANDS_3_DESCRIPTION')?>
					</p>
					<a href="<?=t('LANDING_BRANDS_3_BUTTON_LINK')?>" target="_blank" class="btn btn-offer"><?=t('LANDING_BRANDS_3_BUTTON_LABEL')?></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container our-mission">
		<div class="row p83 kuldetesunk">
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<h1><?=t('LANDING_MISSION_TITLE')?></h1>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				<p>
					<?=t('LANDING_MISSION_DESCRIPTION')?>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="section-incube p83">
	<div class="container">
		<div class="row card-wrapper ">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic">
					<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
						<path fill="#1b75bc" d="M1.57 1.572h28.86V30.43H1.57V1.572zM0 32h32.002V0H0v32z"/>
						<path fill="#1b75bc" d="M16.002 24.786c-4.845 0-8.787-3.94-8.787-8.786s3.942-8.787 8.787-8.787 8.786 3.942 8.786 8.787c0 4.845-3.94 8.786-8.786 8.786zm0-16.002c-3.98 0-7.215 3.237-7.215 7.216s3.237 7.214 7.215 7.214c3.978 0 7.214-3.237 7.214-7.214s-3.237-7.216-7.214-7.216z"/>
						<path fill="#1b75bc" d="M15.216 0h1.57v32h-1.57V0z"/>
					</svg>
					<h3><?=t('LANDING_ABOUT_1_TITLE')?></h3>
					<p>
						<?=t('LANDING_ABOUT_1_DESCRIPTION')?>
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic">
					<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
						<path fill="#1b75bc" d="M1.57 1.57h28.857V30.43H1.57V1.57zM0 32h31.997V0H0v32z"/>
						<path fill="#1b75bc" d="M28.784 28.785H3.214V3.212h25.57v25.573zm-24-1.57h22.43V4.784H4.783v22.43z"/>
					</svg>
					<h3><?=t('LANDING_ABOUT_2_TITLE')?></h3>
					<p>
						<?=t('LANDING_ABOUT_2_DESCRIPTION')?>
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic">
					<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
						<path fill="#1b75bc" d="M1.57 1.572h28.86V30.43H1.57V1.572zM0 32h32V0H0v32z"/>
						<path fill="#1b75bc" d="M16 24.786c-4.846 0-8.788-3.94-8.788-8.786S11.154 7.213 16 7.213c4.845 0 8.786 3.942 8.786 8.787s-3.94 8.786-8.786 8.786zm0-16.002c-3.98 0-7.217 3.237-7.217 7.216S12.02 23.214 16 23.214c3.978 0 7.214-3.237 7.214-7.214S19.977 8.784 16 8.784z"/>
						<path fill="#1b75bc" d="M9.857 21.17l1.11 1.11-9.55 9.55-1.11-1.11 9.55-9.55z"/>
					</svg>
					<h3><?=t('LANDING_ABOUT_3_TITLE')?></h3>
					<p>
						<?=t('LANDING_ABOUT_3_DESCRIPTION')?>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-news p83 hirek">
	<div class="container">
		<h2><?=t('LANDING_NEWS_TITLE')?></h2>
		<?=$this->news->render()?>
		<?//=$this->render('includes/news-block.phtml')?>
	</div>
</section>

<section class="section-subscribe palette p83">
	<div class="container">
		<div class="row">
			<h2>
				<?=t('LANDING_NEWSLETTER_TITLE')?>
				<br><small><?=t('LANDING_NEWSLETTER_SUBTITLE')?></small>
			</h2>
			<div class="subscribe-form__wrapper">
				<form action="//enterprisehungary.us12.list-manage.com/subscribe/post?u=298366e40004eddd888768359&amp;id=c0eb413f68" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" role="form" target="_blank" novalidate>
					<input type="email" value="" placeholder="<?=t('LANDING_NEWSLETTER_EMAIL_PLACEHOLDER')?>" name="EMAIL" class="required email form-control pull-left" id="mce-EMAIL">
					<input type="text" value="" class="name form-control pull-left" name="FNAME" placeholder="<?=t('LANDING_NEWSLETTER_FNAME_PLACEHOLDER')?>" id="mce-FNAME">
					<input type="text" value="" class="name form-control pull-left" name="LNAME" placeholder="<?=t('LANDING_NEWSLETTER_LNAME_PLACEHOLDER')?>" id="mce-LNAME">
					<input type="submit" value="<?=t('LANDING_NEWSLETTER_SUBSCRIBE_BUTTON_LABEL')?>" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary pull-left">
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_298366e40004eddd888768359_c0eb413f68" tabindex="-1" value=""></div>
				</form>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<div id="mce-responses" class="clear newsletter-response">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<? if (count($this->events) > 0): ?>
<section class="section-events p83 esemenyek">
	<div class="container">
		<h2 class="tac"><?=t('LANDING_EVENTS_TITLE')?></h2>

		<div class="card-slider__wrapper">

			<div class="card-slider programs-slider">

				<? foreach ($this->events as $one): ?>
					<a href="<?=$one['link']?>" target="_blank" class="card-iconic" style="background-image: url(<?=$one['image']?>)">
						<div class="promgram-slider__cell">
							<div class="program-slider__cell-description">
								<time>
									<sup><?=$one['month']?></sup>
									<?=$one['day']?>
								</time>
								<h3 class="title">
									<?=$one['title']?>
								</h3>
							</div>
						</div>
					</a>
				<? endforeach; ?>
			</div>
		</div>
	</div>
</section>
<? endif; ?>

<section class="section-map">
	<div class="container-fluid map-container">
		<div id="map"></div>

		<div class="map-infobox">
			<h3><?=t('LANDING_MAP_TITLE')?></h3>
			<p>
				<?=t('LANDING_MAP_ADDRESS')?>
			</p>
			<div class="map-desc">
				<span class="map-contact map-contact--phone">
					<span class="map-icon map-phone"></span>
					<?=t('LANDING_MAP_PHONE')?>
				</span>
				<span class="map-contact">
					<span class="map-icon map-envelop"></span>
					<a href="mailto:<?=t('LANDING_MAP_EMAIL')?>"><?=t('LANDING_MAP_EMAIL')?></a>
				</span>
			</div>
		</div>
	</div>
</section>
