<div id="wx-list-<?=$this->getId()?>-inputs">
<input type="hidden" id="wx-list-<?=$this->getId()?>-descriptor" value="<?=$this->getDescriptorName()?>" />
<input type="hidden" id="wx-list-<?=$this->getId()?>-page" value="<?=$this->getPage()?>" />
<input type="hidden" id="wx-list-<?=$this->getId()?>-order" value="<?=$this->getOrder()?>" />
<input type="hidden" id="wx-list-<?=$this->getId()?>-by" value="<?=$this->getBy()?>" />
<input type="hidden" id="wx-list-<?=$this->getId()?>-current-url" value="<?=$this->getCurrentUrl()?>" />
<input type="hidden" id="wx-list-<?=$this->getId()?>-no-page-url" value="<?=$this->createSimpleUrl(false)?>" />
<? if ($this->getMoreContainer()): ?>
	<input type="hidden" id="wx-list-<?=$this->getId()?>-more-container" value="<?=$this->getMoreContainer()?>" />
<? endif; ?>
</div>