<?php if ($this->pageCount > $this->current): ?>
<div class="wx-list-paginator more-paginator">
	<div class="wx-list-more-results more-results">
		<a href="#" class="wx-list-link-more-results" rel="<?=$this->getId()?>"><?=$this->getPaginatorMoreText()?></a>
	</div>
	<div class="wx-list-more-loader more-loader hidden">
		<?=$this->getPaginatorLoaderText()?>
	</div>
</div>
<?php endif; ?>