<!--
See http://developer.yahoo.com/ypatterns/pattern.php?pattern=searchpagination
-->
<?php if ($this->pageCount > 1): ?>
<div class="wx-list-paginator paginator">
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->createUrl(1); ?>" rel="<?=$this->getId()?>" class="first">
    <i>&lt;&lt;</i>
  </a>
  <a href="<?php echo $this->createUrl($this->previous); ?>" rel="<?=$this->getId()?>" class="prev">
    <i>&lt;</i>
  </a>
<?php else: ?>
<?php endif; ?>
 
<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
    <a href="<?php echo $this->createUrl($page); ?>" rel="<?=$this->getId()?>" class="page">
        <i><?php echo $page; ?></i>
    </a>
  <?php else: ?>
	<span class="page">
		<i><?php echo $page; ?></i>
	</span>
  <?php endif; ?>
<?php endforeach; ?>
 
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->createUrl($this->next); ?>" rel="<?=$this->getId()?>" class="next">
    <i>&gt;</i>
  </a>
  <a href="<?php echo $this->createUrl($this->pageCount); ?>" rel="<?=$this->getId()?>" class="last">
    <i>&gt;&gt;</i>
  </a>
<?php else: ?>
<?php endif; ?>
</div>
<?php endif; ?>