.card-iconic {
	background: $card-iconic-bg;
	text-align: left;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	border: 1px solid $card-iconic-border-color;

	display: flex;
	flex-direction: column;

	.visual-forward {
		position: relative;
		display: inline-block;
		background-size: cover;
		margin: 10px auto;
		height: 150px;
		width: 100%;

		.icon-play-circle-fill {
			margin: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			color: #fff;
			font-size: 44px;
			opacity: .5;
			width: 44px;
			height: 44px;
		}

		&:hover {
			.icon-play-circle-fill {
				opacity: 1;
			}
		}
	}

	h3 {
		padding: 0 5px;
		width: 100%;

		a {
			color: $link-color;

			&:hover {
				color: $link-hover-color;
			}
		}
	}

	span {
		color: $font-color;
		display: block;
		width: 101%;
	}

	p {
		display: inline-block;
		font-size: 13px;
		line-height: 16px;
		padding: 0;

	}

	.forward {
		align-self: flex-end;
		margin: 0 auto;
	}
}

.card-wrapper {
	display: flex;
	flex-wrap: wrap;

	[class*="col-"] {
		display: flex;
	}
}

.card-slider__wrapper {

	.bx-wrapper {
		margin: 0 50px;
		max-width: 100% !important;

		.bx-viewport {
			left: 0;
			border: 0;
			box-shadow: 0 0 0 0;
		}

		.bx-controls-direction {

			a {
				font-family: 'wx-base';
				position: absolute;
				top: 50%;
				margin-top: -40px;
				outline: 0;
				width: 32px;
				height: 32px;
				z-index: 9999;
				background: 0 0;
				color: #000;
				font-size: 44px;
				text-indent: 0;

				&:hover {
					color: lightgray;
				}
		 	}

			.bx-prev {
				&:before {
					content: "\e90b";
				}

				left: -50px;
			}

			.bx-next {
				&:before {
					content: "\e901";
				}
				right: -50px;
			}
		}

		.card-slider {
			display: flex;
			flex-wrap: wrap;
			flex: 1;
			height: 400px;

			.card-iconic {
				display: inline-flex;
				padding: 0;
				margin: 0;
				height: 100%;
				flex-direction: column;
				box-sizing: border-box;
			}
		}
	}
}

.card-news-wrapper {
	.card-iconic {

		border: 0;
		h3 {
			a {
				color: black;

				&:hover {
					color: gray;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.card-slider__wrapper {
		.card-slider {
			display: block !important;

			[class*="col-"] {
				display: block !important;
				padding: 0 5px;
			}
		}
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.card-slider__wrapper .bx-wrapper .card-slider .card-iconic {
		display: block;
	}
}
