.content-tab__wrapper {

	min-height: 300px;

	.nav-tabs {
		display: table;
		width: 100%;

		> li {
			display: table-cell;
			float: none;
			text-align: center;

			&.active {
				> a {
					border-width: 1px;
					border-style: solid;
					border-color: white white black white;
					&:focus,
					&:hover {
						border-width: 1px;
						border-style: solid;
						border-color: white white black white;
					}
				}
			}

			a {
				&:hover {
					background: none;
					border: 0;
					color: black;
						border-width: 1px;
						border-style: solid;
						border-color: white white black white;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.content-tab__wrapper {
		.nav-tabs {
			display: inline-block;

			> li {
				display: block;
				float: none;
				text-align: left;
			}
		}
	}
}
