.map-container {
	position: relative;

	#map {
		width: 	100%;
		height: 500px;
	}

	.map-infobox {
		position: absolute;
		right: 10%;
		top: 10%;

		width: 30%;
		padding: 20px;
		background: #fff;
		border: 1px solid black;
		text-align: center;

		.map-infobox__title {
			color: #1e1e1e;
		}

		.map-infobox__address {
			color: lightgray;
		}
	}
}

/*@media only screen and (max-width: 799px) {
	.map-container .map-infobox {
		width: 90%;
		top: inherit;
		bottom:5%;
		right: 5%;
	}
}

@media only screen and (max-width: 600px) {
	.map-container .map-infobox {
		position: static;
		top: 0;
		left: 0;
		width: 100%;
		margin: 20px 0;
	}
}*/
