.header-scroll {
	position: fixed;
	z-index: 4;
	top: -100px;
	left: 0;

	float: left;

	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding-top: 20px;

	transition: .3s all;

	border-bottom: 1px solid #e7e7e7;
	background: lightblue;

	&.is-visible {
		top: 0 !important;
	}
}
.wx-layout__horizont {
	.wx-wrap-navbar {

		.navbar-default {
			transition-property: all;
			transition-duration: .5s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

			&.header-change-bg {
				background: $header-effect-bg;
				transition-property: all;
				transition-duration: .5s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			}

			&.header-change-height {
				background: $header-effect-bg;
				transition-property: all;
				transition-duration: .5s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
				height: 50px;
			}

			&.header-change-1 {
				background: $header-effect-bg;
				transition-property: all;
				transition-duration: .5s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
				height: 50px;
			}
		}
	}
}
