.wx-wrap-navbar {

	position: relative;
	height: $navbar-height;
	z-index: 2;

	.container-fluid.wx-navbar {
		padding: 0;
	}

	.navbar-default {
		background:	$navbar-bg;

		.navbar-nav {
			> li {
				> a {
					color: $navbar-link-color;

					&:hover {
						text-decoration: underline
					}
				}
			}
		}
	}

	nav {
		span.login {
			display: none;
		}

		button {
			float: right;
			margin: 8px 0 0 10px;
		}
	}

	&--hamburger {
		width: 100%;

		nav {

			button {
				display: none;
			}

			span.login {
				font-size: 24px;
				line-height: 42px;
				margin-right: 10px;
				padding: 0 10px;
				box-sizing: border-box;
				border-radius: 50%;
				background: #efefef;
				margin-top: 5px;
				float: right;
				display: inline-block;

				&:hover {
					cursor: pointer;
					background: #ddd;
				}
			}
		}

		.navbar-header {
			width: 50%;
			float: left;

			.navbar-toggle {
				display: block;
				float: left;
			}

			a {
				float: right;
			}
		}
	}

	&--inline {

		@media screen and (min-width: 480px) and (max-width: 768px) {
			.navbar-header {
				float: left;

				button {
					display: none;
				}
			}

			.collapse {
				display: block;

				.nav > li {
					display: inline-block;
				}

				.nav > li > a {
					display: inline-block;
				}
			}
		}
	}

	@media screen and (max-width: 480px) {
		&--inline,
		&--hamburger {

			nav {

				button {
					float: left
				}

				.navbar-collapse {
					button {
						display: none;
					}
				}

				span.login {
					display: inline-block;
					font-size: 24px;
					line-height: 42px;
					padding: 0 10px;
					box-sizing: border-box;
					border-radius: 50%;
					background: #efefef;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.navbar-default {
			.navbar-toggle {
				float: left
			}

			.navbar-header {
				text-align: center;

				.logo {
					display: inline-block;
				}
			}
		}

		nav {
			span.login {
				display: inline-block;
				cursor: pointer;
				font-size: 24px;
				line-height: 42px;
				padding: 0 10px;
				box-sizing: border-box;
				border-radius: 50%;
				background: #efefef;
			}
		}

		.navbar-collapse {
			z-index: 1;

			button {
				display: none;
			}
		}
	}
}
/**************************************/
@media screen and (max-width: 768px) {

	.wx-wrap-navbar {

		&--hamburger {
			.navbar-collapse {
				display: none !important;
			}

			.navbar-collapse.in {
				display: block !important;
				background-color: $navbar-bg;
				position: absolute;
				width: 100%;
				top: 50px;
				z-index: 2;
				padding: 0;

				ul {
					width: 100%;
					padding: 0;
					margin: 0;

					li {
						float: none;
						width: 100%;
						display: inline-block;
						padding: 0;
						margin: 0;

						&:hover {
							background: $navbar-bg;
						}
					}
				}
			}
		}
	}
}

.wx-wrap-navbar {

	.wx-base-navbar {
		display: block;

		.navbar-collapse {
			padding: 0;
		}
	}

	.wx-toggle-navbar {
		display: none;
	}
}

@media screen and (max-width: 480px ) {
	.wx-wrap-navbar {

		.wx-base-navbar {
			.navbar-collapse {
				background: $navbar-bg;
			}
		}
	}
}
