.section-partners {
	display: flex;
	flex-direction: row;
	justify-content: space-betweeen;
	align-items: center;
	flex-wrap: wrap;

	a {
		display: inline-block;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
		}
	}

}
