.pull-down {

	display: inline-block;
	color: $pulldown-color;
	text-align: center;
	width: 90px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;

	&:hover {
		color: $pulldown-color-hover;

		.pull-down__icon {
			background-color: $pull-down-button-hover-bg;
		}
	}

	.pull-down__text {
		display: inline-block;
	}

	.icon {
		font-size: 44px;
		text-align: center;
	}
}

.wx-header {
	.pull-down {
		transform: translate(0%, 240%);
	}
}
