.wx-sidebar {
	&.st-menu {
		width: $sidebar-width;
		background: $sidebar-bg;
		float: left;
		visibility: visible;
		transform: translate3d(0,0,0);
		position: fixed;
		bottom: 0;

		h2 {
			color: $sidebar-head-color;
		}

		ul {
			li {
				a {
					color: $sidebar-link-color;

					&:hover {
						color: $sidebar-link-hover-color;
					}
				}
			}
		}
	}
}

/*
	Vertical layout
*******************************************/

.vertical-sidebar {

	.wx-wrap-navbar {
		display: none;
	}

	.horizont-sidebar__toggle {
		display: none;
	}
}

.wx-layout__vertical {

	.wx-wrap-navbar {
		display: none;
	}

	.horizont-sidebar__toggle {
		display: none;
	}

}

@media screen and (max-width: 767px) {

	.vertical-sidebar {

		.wx-wrap-navbar {
			display: block;

			.wx-base-navbar {
				display: none;
			}

			.wx-toggle-navbar {
				display: block;
				text-align: center;
			}
		}

		.wx-sidebar {
			&.st-menu {
				transform: translate3d(-100%,0,0);
			}
		}
	}
}

@media screen and (max-width: 480px) {

	.vertical-sidebar {

		.wx-wrap-navbar {
			display: block;

			.wx-base-navbar {
				display: block;
			}

			.wx-toggle-navbar {
				display: none;
			}
		}

		.wx-sidebar {
			&.st-menu {
				visibility: hidden;
			}
		}
	}
}


/*
	Horizont Layout
*******************************************/

.horizont-sidebar {

	.st-container {
		.wx-sidebar {
			&.st-menu {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 767px) {

	.horizont-sidebar {

		.st-container {

			.wx-wrap-navbar {
				display: block;

				.wx-base-navbar {
					display: none;
				}

				.wx-toggle-navbar {
					display: block;
					text-align: center;
				}
			}

			.wx-sidebar {
				&.st-menu {
					visibility: visible;
					transform: translate3d(-100%,0,0);
					display: block;
				}
			}

			&.st-menu-open {
				.wx-sidebar {
					&.st-menu {
						visibility: visible;
						transform: translate3d(0 , 0 , 0);
					}
				}
			}
		}
	}
}
