*,
*:after,
*::before {
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100%;
}

.st-content {
	overflow-y: auto;

	background: #f3efe0;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;

	overflow: hidden;
}

.st-pusher {
	position: relative;
	z-index: 99;
	left: 0;

	height: 100%;

	transition: transform .5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;

	width: 0;
	height: 0;

	content: '';
	transition: opacity .5s, width .1s .5s, height .1s .5s;

	opacity: 0;
	background: rgba(0,0,0,.2);
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;

	transition: opacity .5s;

	opacity: 1;
}

.st-menu {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;

	visibility: hidden;

	width: $sidebar-width;
	height: 100%;

	transition: all .5s;

	background: #48a770;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;

	width: 100%;
	height: 100%;

	content: '';
	transition: opacity .5s;

	opacity: 1;
	background: rgba(0,0,0,.2);
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;

	transition: opacity .5s, width .1s .5s, height .1s .5s;

	opacity: 0;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.st-menu h2 {
	font-size: 2em;
	font-weight: 300;

	margin: 0;
	padding: 1em;

	color: rgba(0,0,0,.4);
	text-shadow: 0 0 1px rgba(0,0,0,.1);
}

.st-menu ul li a {
	font-weight: 400;

	display: block;

	padding: 1em 1em 1em 1.2em;

	transition: background .3s, box-shadow .3s;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: #f3efe0;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,.2);
	text-shadow: 0 0 1px rgba(255,255,255,.1);
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,.2), inset 0 1px rgba(0,0,0,.2);
}

.st-menu ul li a:hover {
	color: #fff;
	background: rgba(0,0,0,.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

/* Individual effects */

/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
	visibility: visible;

	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;

	transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
	display: none;
}

/* Effect 2: Reveal */
.st-effect-2.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-2.st-menu {
	z-index: 1;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
	visibility: visible;

	transition: transform .5s;
}

.st-effect-2.st-menu::after {
	display: none;
}

/* Effect 3: Push*/
.st-effect-3.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-3.st-menu {
	transform: translate3d(-100%, 0, 0);
}

.st-effect-3.st-menu-open .st-effect-3.st-menu {
	visibility: visible;

	transition: transform .5s;
}

.st-effect-3.st-menu::after {
	display: none;
}

/* Effect 4: Slide along */
.st-effect-4.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-4.st-menu {
	z-index: 1;

	transform: translate3d(-50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(0, 0, 0);
}

.st-effect-4.st-menu::after {
	display: none;
}

/* Effect 5: Reverse slide out */
.st-effect-5.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-5.st-menu {
	z-index: 1;

	transform: translate3d(50%, 0, 0);
}

.st-effect-5.st-menu-open .st-effect-5.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(0, 0, 0);
}

/* Effect 6: Rotate pusher */

.st-effect-6.st-container {
	-webkit-perspective: 1500px;
			perspective: 1500px;
}

.st-effect-6 .st-pusher {
	transform-origin: 0 50%;

	transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0) rotateY(-15deg);
}

.st-effect-6.st-menu {
	transform: translate3d(-100%, 0, 0);
	transform-origin: 100% 50%;

	transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-effect-6.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(-100%, 0, 0) rotateY(15deg);
}

.st-effect-6.st-menu::after {
	display: none;
}

/* Effect 7: 3D rotate in */

.st-effect-7.st-container {
	perspective: 1500px;
	perspective-origin: 0 50%;
}

.st-effect-7 .st-pusher {
	transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-7.st-menu {
	transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	transform-origin: 100% 50%;

	transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-effect-7.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Effect 8: 3D rotate out */

.st-effect-8.st-container {
	perspective: 1500px;
	perspective-origin: 0 50%;
}

.st-effect-8 .st-pusher {
	transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-8.st-menu {
	transform: translate3d(-100%, 0, 0) rotateY(90deg);
	transform-origin: 100% 50%;

	transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-effect-8.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.st-effect-8.st-menu::after {
	display: none;
}

/* Effect 9: Scale down pusher */

.st-effect-9.st-container {
	perspective: 1500px;
}

.st-effect-9 .st-pusher {
	transform-style: preserve-3d;
}

.st-effect-9.st-menu-open .st-pusher {
	transform: translate3d(0, 0, -$sidebar-width);
}

.st-effect-9.st-menu {
	transform: translate3d(-100%, 0, 0);

	opacity: 1;
}

.st-effect-9.st-menu-open .st-effect-9.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(0, 0, 0);
}

.st-effect-9.st-menu::after {
	display: none;
}

/* Effect 10: Scale up */

.st-effect-10.st-container {
	perspective: 1500px;
	perspective-origin: 0 50%;
}

.st-effect-10.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-10.st-menu {
	z-index: 1;

	transform: translate3d(0, 0, -$sidebar-width);

	opacity: 1;
}

.st-effect-10.st-menu-open .st-effect-10.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(0, 0, 0);
}

/* Effect 11: Scale and rotate pusher */

.st-effect-11.st-container {
	perspective: 1500px;
}

.st-effect-11 .st-pusher {
	transform-style: preserve-3d;
}

.st-effect-11.st-menu-open .st-pusher {
	transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

.st-effect-11.st-menu {
	transform: translate3d(-100%, 0, 0);

	opacity: 1;
}

.st-effect-11.st-menu-open .st-effect-11.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(0, 0, 0);
}

.st-effect-11.st-menu::after {
	display: none;
}

/* Effect 12: Open door */

.st-effect-12.st-container {
	perspective: 1500px;
}

.st-effect-12 .st-pusher {
	transform-origin: 100% 50%;

	transform-style: preserve-3d;
}

.st-effect-12.st-menu-open .st-pusher {
	transform: rotateY(-10deg);
}

.st-effect-12.st-menu {
	transform: translate3d(-100%, 0, 0);

	opacity: 1;
}

.st-effect-12.st-menu-open .st-effect-12.st-menu {
	visibility: visible;

	transition: transform .5s;
	transform: translate3d(0, 0, 0);
}

.st-effect-12.st-menu::after {
	display: none;
}

/* Effect 13: Fall down */

.st-effect-13.st-container {
	perspective: 1500px;
	perspective-origin: 0 50%;
}

.st-effect-13.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-13.st-menu {
	z-index: 1;

	transform: translate3d(0, -100%, 0);

	opacity: 1;
}

.st-effect-13.st-menu-open .st-effect-13.st-menu {
	visibility: visible;

	transition-timing-function: ease-in-out;
	transition-property: transform;
	transform: translate3d(0, 0, 0);

	transition-speed: .2s;
}

/* Effect 14: Delayed 3D rotate */

.st-effect-14.st-container {
	perspective: 1500px;
	perspective-origin: 0 50%;
}

.st-effect-14 .st-pusher {
	transform-style: preserve-3d;
}

.st-effect-14.st-menu-open .st-pusher {
	transform: translate3d($sidebar-width, 0, 0);
}

.st-effect-14.st-menu {
	transform: translate3d(-100%, 0, 0) rotateY(90deg);
	transform-origin: 0 50%;

	transform-style: preserve-3d;
}

.st-effect-14.st-menu-open .st-effect-14.st-menu {
	visibility: visible;

	transition-delay: .1s;
	transition-timing-function: ease-in-out;
	transition-property: transform;
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback)
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: $sidebar-width;
}
*/
