.testimonial-slider__wrapper {
	.bx-wrapper {
		.bx-viewport {
			background: transparent;
			border: 0;
		}
	}

	.testimonial-slider {

		.testimonial-card {
			text-align: center;

			img {
				display: inline-block;
				margin-top: 10px;
				border-radius: 50%;
			}

			span {
				font-size: 16px;
				line-height: 20px;
				margin: 10px 30px 10px 60px;
				text-align: justify;
				display: block;
			}
		}

		&.testimonial-slider--inline {
			img {
				float: left;
				margin: 20px 10px 0 60px;
			}

			span {
				margin: 20px 20px 10px 0;
				text-align: left;
				background: pink;
			}
		}
	}
}
