.section-timeline {
	padding-top: 83px;
	padding-bottom: 83px;

	.timeline {
		float: left;
		width: 100%;
		height: 100%;
		position: relative;
		padding: 45px 0 0 0;

		.inside {
			position: relative;
			padding: 90px 0;
		}

		.line {
			width: 2px;
			display: inline-block;
			background: $timeline-line-color;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 40px;
			z-index: 1;
		}

		.content {
			float: left;
			width: 100%;
			box-sizing: border-box;
			padding-left: 120px;
		}

		.title {
			float: left;
			width: 100%;
			color: #1e1e1e;
			font-size: 21px;
			line-height: 21px;
		}

		.dates {
			float: left;
			width: 100%;
			color: #717d87;
			margin-top: 26px;

			.timeline-elem {
				float: left;
				padding-left: 51px;
				margin: 13px 0 0 -142px;
				font-size: 18px;
				position: relative;
				z-index: 1;
				min-height: 50px;
				list-style-type: none;

				&:before {
					content: " ";
					width: 30px;
					height: 30px;
					border: 2px solid $timeline-bullet-border;
					background: $timeline-bullet-bg;
					border-radius: 50%;
					position: absolute;
					left: 8px;
				}

				p {
					max-width: 870px;
					display: inline-block;
					float: left;
					margin-bottom: 25px;

					.title {
						font-size: 21px;
						color: #1e1e1e;
						display: block;
						margin-bottom: 10px;
						margin-top: 13px;
					}
				}

				b {
					width: 97px;
					margin-top: 3px;
					display: inline-block;
					text-transform: uppercase;
					float: left;
				}
			}
		}
	}
}
