.login {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: -30px;

	.form {
		float: none;
		padding: 0;
		border: 0;
		width: auto;

		.row {
			width: auto;
			float: none;

			.field {
				width: auto;
				float: none;
			}
		}
	}

	.logo {
		display: inline-block;
		width: 195px;
		height: 55px;
		font-size: 24px;
		margin-bottom: 50px;
	}

	.text {
		background: #ffffff;
		width: 226px;
		padding: 12px;
		font-size: 14px;
		border: 1px solid #e7e7e7;
		margin-bottom: 5px;

		&:focus {
			border: 1px solid #cdcdcd;
		}
	}

	.row {
		float: left;
		width: 100%;
	}

	.error-row {
		font-size: 11px;
		color: red;
		display: inline-block;
		margin: 0 0 5px;
	}

	.form-button {
		float: left;
		width: 100%;

		a.btn {
			display: inline-block;
			padding: 16px;
			text-align: center;
			width: 226px;
			background: #0195df;
			color: #ffffff;
		}

		.btn:hover {
			background: #0195df;
			color: #ffffff;
		}
	}

	.error-msg {
		font-size: 11px;
		color: red;
		float: left;
		width: 100%;
		text-align: center;
		display: inline-block;
		margin: 5px 0;
	}
}