* { outline: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }
html, body { font-family: arial; font-size: 12px; height: 100%; margin: 0; min-height: 530px; min-height: 100%; }
body.landing { background: #00c3d5; }
a, a:hover, a:active { text-decoration: none; outline: none; color: #0195df; }
img { border: 0; }
input,textarea,checkbox { outline: none; }
h1 { font-size: 24px; font-weight: bold; color: #000000; margin: 35px 45px 31px 25px; }
h2 { float: left; width: calc(100% - 60px); font-size: 20px; font-weight: bold; color: #333333; margin: 20px 30px 20px 30px; }
h1 input { color: #333333; display: inline-block; font-weight: normal; float: right; margin-left: 5px; margin-top: -2px; padding: 8px 10px; border: 1px solid #e7e7e7; border-radius: 5px; -webkit-border-radius: 5px; font-size: 13px;  }
h1 a.btn { position: relative; z-index: 8; font-weight: normal; float: right; margin-left: 5px; margin-top: -2px; font-size: 13px;  }
h1 a:hover.btn {  }
h1 label { float: right; font-size: 16px; position: relative; top: -2px; }
h1 label select { font-size: 13px; border: 1px solid #e7e7e7; padding: 10px 20px !important; line-height: 38px; height: 38px; position: relative; top: -1px; margin: 0 8px; }

img.circle { border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; }

.f14 { font-size: 14px; }
.f16 { font-size: 16px; line-height: 24px; }
.f18 { font-size: 18px; }
.f36 { font-size: 36px; }

.centered { text-align: center; }
.righted { text-align: right; }

.w100p { width: 100%; }

.pull-left { float: left; }
.pull-right { float: right; }

.pt20 { padding-top: 20px; }
.pb20 { padding-bottom: 20px; }
.pr30 { padding-right: 30px; }

.bg-light-gray { background: #f6f6f6; }

.feedback-message, .error-message, .netural-message { float: left; width: 100%; text-align: center; display: none; padding: 12px 0; }
.feedback-message { background: #E5FCE4; border-bottom: 1px solid #C8DFC9; border-top: 1px solid #C8DFC9; }

.loading { background: url(../images/admin-loader.gif) center center no-repeat #ffffff; width: 100%; height: 100%; float: left; position: relative; z-index: 2; opacity: 0.6; }
.loader { float: left; width: 100%; margin-bottom: 10px; }
.loader img { position: relative; top: 3px; margin-right: 2px; }

.btn { font-size: 11px; color: #ffffff; background: #0195df; display: inline-block; padding: 6px 12px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.btn:hover { background: #0195df; color: #ffffff; }

.btn.red { background: #dd4320; }
.btn:hover.red { background: #d4320d; color: #ffffff; }
.btn.gray { color: #333333; background: #eaeaea; }
.btn:hover.gray { background: #f1f0f0; }
.btn.gradient-gray { color: #333333; background: #fcfcfc; /* Old browsers */ background: -moz-linear-gradient(top,  #fcfcfc 0%, #f7f7f7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* IE10+ */ background: linear-gradient(to bottom,  #fcfcfc 0%,#f7f7f7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */ }
.btn:hover.gradient-gray { }

.btn.medium { padding: 8px 10px; border-radius: 2px; -webkit-border-radius: 2px; border: 1px solid; }
.btn.medium.gradient-gray { border-color: #e7e7e7; }
.btn:hover.medium.gradient-gray { border-color: #d8d8d8; }

.btn.large { padding: 10px 20px; border-radius: 2px; -webkit-border-radius: 2px; border: 1px solid; font-size: 13px; border-color: #0195df; }
.btn.large.gradient-gray { border-color: #e7e7e7; }
.btn:hover.large.gradient-gray { border-color: #d8d8d8; }
.btn.large.red { border-color: #dd4320; }
.btn:hover.large.red { border-color: #d4320d; }

#container { height: auto; min-height: 100%; width: 100%; position: relative; margin-bottom: -1px; }

#content { margin-left: 200px; height: 100%; }
#content:before { content: " "; display: table; }
#content:after { content: " "; display: table; clear: both; }

.left-side { float: left; background: #242b2b; width: 200px; min-height: 100%; z-index: 3; }
.left-side:before { content: ""; position: absolute; width: inherit; top: 0; bottom: 0; left: 0px; z-index: -1; background-color: inherit; border: inherit; height: 100%; }
.left-side .logo { float: left; width: 100%; -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2); box-shadow: 0 0 5px 0 rgba(0,0,0,0.2); text-align: center; padding: 0; }
.left-side .logo img { margin: 10px 0 15px; }
.left-side .tabs { float: left; width: 100%; }
.left-side .tabs ul { float: left; width: 100%; }
.left-side .tabs ul li { list-style: none; float: left; width: 100%; position: relative; }
.left-side .tabs ul li span { width: 30px; text-align: center; }
.left-side .tabs ul li i { position: absolute; right: 17px; top: 18px; font-size: 9px; }
.left-side .tabs ul li i.fa-chevron-down { display: none; }
.left-side .tabs ul li a { float: left; width: 100%; color: #B1C0BF; transition: background-color .2s ease-in-out 0s; }
.left-side .tabs ul li.active > a { color: #ffffff; background: #1D2525 }
.left-side .tabs ul li.active i.fa-chevron-down { display: inline-block; }
.left-side .tabs ul li.active i.fa-chevron-right { display: none; }
.left-side .tabs > ul { margin: 5px 0 0; padding: 5px 0 0; border-top: 1px solid #1e2424; }
.left-side .tabs > ul.first { border-top: 0; margin-top: 0; padding-top: 0; }
.left-side .tabs > ul > li {  }
.left-side .tabs > ul > li > a { padding: 16px 12px 16px 15px; }
.left-side .tabs > ul > li > ul { float: left; width: 100%; background: #242b2b; opacity: 0; height: 0; overflow: hidden; margin-left: -20px; -webkit-transition: all .2s ease-in-out 0s; transition: all .2s ease-in-out 0s; }
.left-side .tabs > ul > li > ul > li {  }
.left-side .tabs > ul > li > ul > li > a { padding: 16px 12px 16px 3px; }
.left-side .tabs > ul > li.active > ul { background: #1D2525; opacity: 1; margin-left: 0; height: auto !important; overflow: auto; }
.left-side .tabs > ul > li.active > ul > li.active > a { color: #ffffff; }

.simple-grid { float: left; width: 100%; border-spacing: 0; border-collapse: separate; }
.simple-grid th { padding: 5px 5px; border-bottom: 1px solid #e3e3e3; padding: 14px; text-align: left; }
.simple-grid th.right-aligned { text-align: right; }
.simple-grid td { border-bottom: 1px solid #f1f1f1; padding: 14px; }
.simple-grid td:first-child,.simple-grid th:first-child { padding-left: 30px; }
.simple-grid td.actions { padding-right: 30px; text-align: right; white-space: nowrap; width: 1px; }
.simple-grid td.actions a { opacity: 0; }
.simple-grid .align-right { text-align: right; }
.simple-grid tr:hover td { background: #faf8f7; }
.simple-grid tr:hover td.actions a { opacity: 1; }
.simple-grid tr:nth-child(even) td { background: #f9f9f9; }
.simple-grid tr:hover td { background: #faf8f7; }
.simple-grid input[type="checkbox"] { position: relative; top: 2px;  }

.form { float: left; width: 100%; padding: 20px 40px; border-top: 1px solid #e1e1e1; }
.form .row { float: left; width: 100%; padding: 8px 0; }
.form .row  label { float: left; width: 16.666%; padding: 0 12px; line-height: 37px; }
.form .row  label sub { color: red; top: -7px; left: 2px; position: relative; top: -3px; }
.form .row .field { float: left; width: 83.333%; min-height: 40px; }
.form .row .radiogroup,.form .row .checkboxgroup { float: left; width: 83.333%; }
.form .radiogroup .row,.form .checkboxgroup .row { padding: 0 0; }
.form .row .radio-field,.form .row .checkbox-field { float: left; width: 30px; position: relative; top: 5px; }
.form .row .radiogroup label,.form .row .checkboxgroup label { margin: 0; width: 83.333%; padding: 0; position: relative; line-height: 28px; }
.form .text { border: 1px solid #e7e7e7; height: 31px; line-height: 31px; padding: 0 10px; border-radius: 2px; -webkit-border-radius: 2px; width: 100%; }
.form .select { border: 1px solid #e7e7e7; height: 31px; line-height: 31px; padding: 0 10px; border-radius: 2px; -webkit-border-radius: 2px; width: 100%; }
.form .textarea { height: 140px; border: 1px solid #e7e7e7; padding: 8px 10px; border-radius: 2px; -webkit-border-radius: 2px; width: 100%; font-family: inherit; }
.form .map { float: left; width: 100%; margin-top: 15px; height: 300px; width: 100%; }
.form .description { float: left; width: 83.333%; margin-left: 16.666%; color: #999999; margin-top: 3px;  }
.form .error-row { float: left; width: 83.333%; margin-left: 16.666%; color: red; font-size: 11px; }
.form .row.error input,.form .row.error textarea,.form .row.error select { border-color: red; }
.form .row.buttons { /*padding: 22px 20px 24px; border-top: 1px solid #e7e7e7; float: left; width: 100%; margin-top: 18px;*/ }
.form .image-uploader img { margin-bottom: 10px; max-width: 640px; max-height: 480px; }
.form .image-uploader-container { float: left; }
.form .image-uploader-container .btn { margin-right: 8px; }
.form .button-container { margin-right: 8px; position: relative; display: inline-block; overflow: hidden; padding: 10px 20px; border-radius: 2px; -webkit-border-radius: 2px; border: 1px solid; font-size: 13px; border-color: #0195df; border-color: #e7e7e7; color: #333333; background: #fcfcfc; /* Old browsers */ background: -moz-linear-gradient(top,  #fcfcfc 0%, #f7f7f7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* IE10+ */ background: linear-gradient(to bottom,  #fcfcfc 0%,#f7f7f7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */ }
.form .button-container:hover { border-color: #d8d8d8; }
.form .button-container input { position: absolute; top: 0; right: 0; bottom: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
.form  .datetimepicker { width: 140px; }
.form .label-push { padding-left: 16.6666%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* MULTI FILE UPLOADER PROGRESS BAR */

.progress-bar-container { margin-top: 10px; }
.progress { padding: 4px; background: rgba(0, 0, 0, 0.25); border-radius: 6px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); width: 120px; }
.progress-bar { position: relative; height: 10px; border-radius: 4px; -webkit-transition: 0.4s linear; -moz-transition: 0.4s linear; -o-transition: 0.4s linear; transition: 0.4s linear; -webkit-transition-property: width, background-color; -moz-transition-property: width, background-color; -o-transition-property: width, background-color; transition-property: width, background-color; -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1); box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1); background-color: #86e01e; }
.progress-bar:before, .progress-bar:after { content: ''; position: absolute; top: 0; left: 0; right: 0; }
.progress-bar:before { bottom: 0; background: url("/images/wx/progress-stripes.png") 0 0 repeat; border-radius: 4px 4px 0 0; }
.progress-bar:after { z-index: 2; bottom: 45%; border-radius: 4px; background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); }
.progress-percent { margin: 1px 0 0 5px; }

/* MULTI UPLOADER IMAGES */

.multi-uploader-image-container  * { box-sizing: border-box; }
.one-image { float: left;  width: 300px; margin-right: 20px; margin-top: 20px; border: 1px solid #e7e7e7; }
.one-image .frame { width: 288px; height: 200px; margin: 5px 0 0 5px; }
.one-image img { max-width: 288px; max-height: 200px; }
.one-image .controls { margin: 10px 0; }
.one-image .controls .btn { font-size: 16px; padding: 7px 12px; }
.one-image .controls .text { width: 240px; margin-right: 10px; margin-left: 5px; }

.page-tabs { float: left; width: 100%; display: table; table-layout: fixed; }
.page-tabs a { display: table-cell; text-align: center; border-bottom: 3px solid #ffffff; color: #000000; width: auto; font-size: 14px; padding: 10px 0; }
.page-tabs a:hover { border-bottom: 3px solid #f1f1f1; }
.page-tabs a.active { border-color: #0195df; font-weight: bold; }

.wysiwyg-container { float: left; width: 100%; border-top: 1px solid #e7e7e7; min-height: 100%; }

.wx-list-paginator { float: left; width: 100%; padding: 0 20px;  }
.wx-list-paginator a,.wx-list-paginator span { float: left; display: inline-block; padding: 18px 20px; color: #000000; border-top: 3px solid #ffffff; }
.wx-list-paginator .fa { font-size: 14px; position: relative; top: -1px; }
.wx-list-paginator a:hover { border-color: #f1f1f1; }
.wx-list-paginator span { font-weight: bold; color: #000000; border-color: #e7e7e7; }
.wx-list-paginator span.inactive { font-weight: normal; color: #dddddd; border-color: #ffffff; }

.wx-list-no-result { float: left; width: 100%; border-top: 1px solid #e7e7e7; padding: 100px 0; text-align: center; font-size: 14px; color: #999999; }

.toolbar { float: left; width: calc(100% - 60px); margin: 0 30px 30px; }
.toolbar .select { border: 1px solid #e7e7e7; padding: 5px 10px; border-radius: 5px; -webkit-border-radius: 5px; width: 180px; }
.toolbar .text { border: 1px solid #e7e7e7; padding: 6px 10px; border-radius: 5px; -webkit-border-radius: 5px; width: 180px; }
.toolbar .medium { width: 120px; }
.toolbar .short { width: 90px; }
.toolbar .full { width: 100%; }
.toolbar .button { color: #333333; display: inline-block; font-weight: normal; padding: 8px 10px 7px; top: -1px; position: relative; border: 1px solid #e7e7e7; border-radius: 5px; -webkit-border-radius: 5px; font-size: 13px; background: #fcfcfc; /* Old browsers */ background: -moz-linear-gradient(top,  #fcfcfc 0%, #f7f7f7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%); /* IE10+ */ background: linear-gradient(to bottom,  #fcfcfc 0%,#f7f7f7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */ }
.toolbar .checkbox { position: relative; top: 1px; }
.toolbar label { position: relative; top: -1px; }
.toolbar .left { float: left; }
.toolbar .right { float: right; }

.main-chart-container { float: left; width: calc(100% - 60px); overflow: hidden; margin-left: 30px; }

.blocks { float: left; width: 100%; margin: 20px 0; padding: 0 20px; }
.blocks .block { float: left; position: relative; overflow: hidden; }
.blocks .block.b3 { width: 25%; padding: 0 1%; }
.blocks .block.b12 { width: 100%; padding: 0 1%; }
.blocks .block .inside { float: left; width: 100%; }
.blocks .block .inside.color1 { background: #fc603c; color: #ffffff; }
.blocks .block .inside.color2 { background: #f1502b; color: #ffffff; }
.blocks .block .inside.color3 { background: #dd4320; color: #ffffff; }
.blocks .block .inside.color4 { background: #d4320d; color: #ffffff; }
.blocks .block .inside.bordered { border: 1px solid #e7e7e7; }
.blocks .block .inside.text-content { padding: 20px; }
.blocks .block .inside.notification { background: #f6f6f6; border-left: 3px solid #0195df; }
.blocks .block .inside.text-content h2 { margin-left: 0; padding-left: 0; width: 100%; }
.blocks .block .inside.text-content h2:first-of-type { margin-top: 0; padding-top: 0; }
.blocks .block .inside.text-content p { font-size: 14px; line-height: 21px; }
.blocks .block .inside.text-content p:last-of-type { margin-bottom: 0; }
.blocks .block .dashboard-block-icon  { position: absolute; left: 34px; bottom: 13px; font-size: 72px; opacity: 0.3; }

.application { float: left; width: 100%; }
.application h2 { margin-left: 0; margin-right: 0; padding: 20px 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }
.application .team-title { float: left; min-width: 700px; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-top: 1px solid #e7e7e7; padding: 20px 40px; position: relative; }
.application .team-title .title { float: left; font-size: 36px; font-weight: bold; color: #333333; margin-top: 30px; }
.application .team-title .subtitle { float: left; font-size: 16px; color: #333333; margin-bottom: 30px; }
.application .team-title .video { position: absolute; right: 40px; top: 5px; }
.application .rating { float: left; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 0 40px 40px; border-top: 1px solid #e7e7e7;  }
.application .rating table { width: 100%;  }
.application .rating table th { padding: 6px 10px; text-align: center; }
.application .rating table td { padding: 6px 10px; }
.application .rating table tr:hover td { background: #f9f9f9; }
.application .rating table tr:hover td:hover { background: #f1f1f1; }
.application .rating .btn { margin-top: 20px; }
.application .answers { float: left; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 0 40px; border-top: 1px solid #e7e7e7;  }

.applicant-form { float: left; width: 100%; font-size: 14px; }
.applicant-form fieldset { border: 1px solid #e7e7e7; margin-bottom: 14px; padding: 10px 20px; }
.applicant-form fieldset > legend { font-size: 16px; }
.applicant-form fieldset  fieldset > legend { display: none; }
.applicant-form .row { float: left; width: 100%; margin-bottom: 10px; }
.applicant-form label { float: left; width: 100%; font-weight: bold; }
.applicant-form .checkbox-group-field { margin-top: 5px; }
.applicant-form sub { display: none; }
.applicant-form .field { float: left; width: 100%; }
.applicant-form .field.options { margin-top: 5px; }
.applicant-form .answer-option { float: left; width: 100%; color: #999; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding-left: 12px; }
.applicant-form .answer-option.selected { font-weight: normal; color: #000000; }
.applicant-form .answer-option.selected:before { margin-right: 3px; display: inline-block; font: normal normal normal 13px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f00c"; }
.applicant-form  { float: left; width: 100%; }
.applicant-form  { float: left; width: 100%; }
.applicant-form  { float: left; width: 100%; }
.applicant-form  { float: left; width: 100%; }

#wx-feedback { position: fixed; right: 10px; top: 5px; z-index: 9999; }
#wx-feedback .feedback { float: right; margin:5px 15px; padding: 8px 0 8px 15px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -moz-opacity: 0.85; opacity: 0.85; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=85); margin: 5px 0 5px 0; background-color: #101010; border: 1px solid #222; display: none;}
#wx-feedback .feedback .message { float: left; font-size: 12px; font-weight: bold; color: #fff; }
#wx-feedback .feedback .message i { margin-right: 10px; }
#wx-feedback .feedback .message i.fa-check-circle { color: #00FF37; }
#wx-feedback .feedback .message i.fa-info-circle { color: #0059FF; }
#wx-feedback .feedback .message i.fa-exclamation-circle { color: #FFFF00; }
#wx-feedback .feedback .message i.fa-minus-circle { color: #FF0000; }
#wx-feedback .feedback .message span { text-decoration: underline; }
#wx-feedback .feedback .close { cursor: pointer; cursor: hand; float: right; margin: 0 15px; color: #DDDDDD;}

/* DATETIME PICKER */
.datepicker{width: 150px; display:inline-block;font:15px/1.5 "Helvetica Neue",mplus-2c,Helvetica,Arial,"Hiragino Kaku Gothic Pro",Meiryo,sans-serif;font-weight:300;border:1px solid #dfdfdf;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:.5px .5px 0 #c8c8c8;-webkit-box-shadow:.5px .5px 3px #eee;-moz-box-shadow:.5px .5px 3px #eee}
.datepicker>.datepicker_header{padding-top:2px;padding-bottom:2px;padding-left:5px;padding-right:5px;background-color:#eee;color:#3f3f3f;text-align:center;font-size:9pt;font-weight:700;user-select:none;-webkit-user-select:none;-moz-user-select:none}
.datepicker>.datepicker_header>a{user-select:none;-webkit-user-select:none;-moz-user-select:none;cursor:pointer;color:#3b7796}
.datepicker>.datepicker_header>a:hover{color:#303030;background-color:#c8c8c8}
.datepicker>.datepicker_header>a:active{color:#fff;background-color:gray}
.datepicker>.datepicker_header>span{margin-left:20px;margin-right:20px;user-select:none;-webkit-user-select:none;-moz-user-select:none}
.datepicker>.datepicker_header>.icon-home{position:absolute;display:block;float:left;margin-top:2px;margin-left:5px;width:11pt;height:11pt;vertical-align:middle}
.datepicker>.datepicker_header>.icon-home>svg>g>path{fill:#3b7796}
.datepicker>.datepicker_header>a:hover>svg>g>path{fill:#303030}
.datepicker>.datepicker_inner_container{margin:-2px 0 -2px 0;background-color:#d2d2d2;border:1px solid #c8c8c8;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:.5px 0 3px #c8c8c8;-webkit-box-shadow:.5px 0 3px #c8c8c8;-moz-box-shadow:.5px 0 3px #c8c8c8}
.datepicker>.datepicker_inner_container:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.datepicker>.datepicker_inner_container>.datepicker_calendar{float:left;width:auto;margin-top:-.5px;margin-left:-1px;margin-bottom:-2px;background-color:#fff;border:1px solid #c8c8c8;border-top:0;border-top-left-radius:3px;border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px}
.datepicker>.datepicker_inner_container>.datepicker_calendar>table{padding:10px}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>th{color:#646464;width:18px;font-size:small;font-weight:400;text-align:center}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td{color:#000;font-size:small;text-align:center;user-select:none;-webkit-user-select:none;-moz-user-select:none;cursor:pointer;padding:0;}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td.today{border-bottom:#bfbfbf solid 2px;margin-bottom:-2px;}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td.wday_sat{color:#04a}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td.wday_sun{color:#e13b00}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td.day_another_month{color:#ccc}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td.day_in_past{cursor:default;color:#ccc}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td.active{color:#fff;background-color:gray}
.datepicker>.datepicker_inner_container>.datepicker_calendar>.datepicker_table>tbody>tr>td.hover{color:#000;background-color:#c8c8c8}
.datepicker>.datepicker_inner_container>.datepicker_timelist{float:left;width:4.2em;height:118px;margin-top:-.5px;padding:5px;padding-left:0;padding-right:0;overflow:auto;overflow-x:hidden;background-color:#fff;border-top-right-radius:3px;border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px}
.datepicker>.datepicker_inner_container>.datepicker_timelist::-webkit-scrollbar{overflow:hidden;width:6px;background:#fafafa;border-top-right-radius:3px;border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px}
.datepicker>.datepicker_inner_container>.datepicker_timelist::-webkit-scrollbar:horizontal{height:1px}
.datepicker>.datepicker_inner_container>.datepicker_timelist::-webkit-scrollbar-button{display:none}
.datepicker>.datepicker_inner_container>.datepicker_timelist::-webkit-scrollbar-piece{background:#eee}
.datepicker>.datepicker_inner_container>.datepicker_timelist::-webkit-scrollbar-piece:start{background:#eee}
.datepicker>.datepicker_inner_container>.datepicker_timelist::-webkit-scrollbar-thumb{background:#aaa;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
.datepicker>.datepicker_inner_container>.datepicker_timelist::-webkit-scrollbar-corner{background:#333}
.datepicker>.datepicker_inner_container>.datepicker_timelist>div.timelist_item{padding-top:1px;padding-bottom:1px;padding-left:7px;padding-right:25px;margin-top:5px;margin-bottom:2px;font-size:small;user-select:none;-webkit-user-select:none;-moz-user-select:none;cursor:pointer}
.datepicker>.datepicker_inner_container>.datepicker_timelist>div.timelist_item.time_in_past{cursor:default;color:#ccc}
.datepicker>.datepicker_inner_container>.datepicker_timelist>div.timelist_item.active{color:#fff;background-color:gray}
.datepicker>.datepicker_inner_container>.datepicker_timelist>div.timelist_item.hover{color:#000;background-color:#c8c8c8}

.hidden { display: none; }
.clear { clear: both; }

/* NEWS LIST */

#adminnews-list table.simple-grid tr td:first-child { width: 130px; }

/* BAND LIST */

#adminband-list table.simple-grid tr td:first-child { width: 130px; }

/* MENTOR LIST */

#adminmentor-list table.simple-grid tr td:first-child { width: 130px; }

/* SLIDE LIST */

#adminslide-list table.simple-grid tr td:first-child { width: 130px; }

/* LEGACY */

#adminlegacyslide-list table.simple-grid tr td:first-child { width: 130px; }
#adminlegacyproject-list table.simple-grid tr td:first-child { width: 130px; }
#adminlegacyoralhistory-list table.simple-grid tr td:first-child { width: 130px; }
#adminlegacyexpert-list table.simple-grid tr td:first-child { width: 130px; }

/* MISC */

.push-left { float: left; }
.full-width { width: 100%; }

/* JQUERYUI */

.ui-sortable .ui-state-highlight { float: left;  width: 300px; margin-right: 20px; margin-top: 20px; border: 3px dashed #f1f1f1; background: #f9f9f9; height: 252px; }
