<? if(count($this->getData()) > 0): ?>
	<table class="simple-grid">
		<tr>
			<? foreach ($this->getLabels() as $field => $label): ?>
				<th>
					<?=$label?>
				</th>
			<? endforeach; ?>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<? foreach ($this->getData() as $key => $one): ?>
		<tr>
			<? foreach ($one as $fieldName => $field): ?>
				<? if ($fieldName != 'id') : ?>
					<td><?=$one[$fieldName]?></td>
				<? endif; ?>
			<? endforeach; ?>
			<td class="actions">
				<a href="<?=Eh_Url::adminTranslatesc()?>/<?=Eh_Url::adminEdit($one['id'])?>" class="btn small gray"><i class="fa fa-pencil"></i></a>
			</td>
		</tr>
		<? endforeach; ?>
	</table>
<? echo $this->getPaginator();?>
<? else: ?>
	<div class="wx-list-no-result">Nincs találat.</div>
<? endif; ?>