<? ### Univerzalis template admin listazasokhoz ### ?>

<? if(count($this->r->getData()) > 0): ?>
	<table class="simple-grid">
		<? ### LABELS ### ?>
		<tr>
			<? foreach ($this->getLabels() as $field => $label): ?>
				<? if ($field == 'logo' || $field == 'image'): ?>
					<th width="1%">
						<?=$label?>
					</th>
				<? elseif ($field == 'order'): ?>
					<th style="text-align: right;">
						<?=$label?>
					</th>
				<? else: ?>
					<th>
						<?=$label?>
					</th>
				<? endif; ?>
			<? endforeach; ?>
			<th>&nbsp;</th>
		</tr>
		<? foreach ($this->r->getData() as $key => $one): ?>
		<tr>
			<? ### ROW DATA ### ?>
			<? foreach ($this->getFields() as $fieldName => $descriptor): ?>
				<td <?=($fieldName == 'order' ? 'style="text-align: right"' : '')?>>
					<? # osszemergeljuk a field leirojat a default fieldTemplate leiroval ?>
					<? $fieldTemplate = $this->getFieldTemplate(
							(isset($descriptor['type']) ? $descriptor['type'] : null),
							(isset($descriptor['template']) ? $descriptor['template'] : null)
						); ?>

					<? # hozza kell adni a scriptpath-hoz a template utvonalat, ha esetleg meg nem lenne hozzadva ?>
					<? if (!in_array($fieldTemplate['directory'], $this->getScriptPaths())) : ?>
						<? $this->addScriptPath($fieldTemplate['directory']); ?>
					<? endif; ?>

					<? # rendereljuk a template-et ?>
					<?=$this->partial(
						$fieldTemplate['file'],
						array(
							'value' => $one[$fieldName],
							'row' => $one, # ez tartalmazza az egesz sort - hasznos ha pl. az id-t kell kinyerni
							'params' => !empty($descriptor['params']) ? $descriptor['params'] : [] # itt passzolhatunk at custom adatokat a template-nek
						)
					);?>
				</td>
			<? endforeach; ?>

			<? ### BUTTONS ### ?>
			<td class="actions">
				<? foreach ($this->getButtons() as $buttonType => $descriptor): ?>
					<? # osszemergeljuk a field leirojat a default buttonTemplate leiroval ?>
					<? $buttonTemplate = $this->getButtonTemplate(
							$buttonType,
							(isset($descriptor['template']) ? $descriptor['template'] : null)
						); ?>

					<? # hozza kell adni a scriptpath-hoz a template utvonalat, ha esetleg meg nem lenne hozzadva ?>
					<? if (!in_array($buttonTemplate['directory'], $this->getScriptPaths())) : ?>
						<? $this->addScriptPath($buttonTemplate['directory']); ?>
					<? endif; ?>

					<? # rendereljuk a template-et ?>
					<?=$this->partial(
						$buttonTemplate['file'],
						array(
							'variables' => isset($descriptor['variables']) ? $descriptor['variables'] : null,
							'row' => $one # ez tartalmazza az egesz sort - hasznos ha pl. az id-t kell kinyerni
						)
					);?>
				<? endforeach; ?>
			</td>
		</tr>
		<? endforeach; ?>

	</table>
<? echo $this->getPaginator();?>
<? else: ?>
	<div class="wx-list-no-result">Nincs találat.</div>
<? endif; ?>