<footer>
	<div class="container">
		<div class="row footer-row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 footer-col-desc">
				<div class="footer-desc">
					<span><?=t('FOOTER_COPYRIGHT')?></span>
					<h3><?=t('FOOTER_COMPANY_NAME')?></h3>
					<span class="data"><?=t('FOOTER_WEB')?></span>
					<span class="data"><?=t('FOOTER_VAT_NUMBER')?></span>
					<span class="data"><?=t('FOOTER_REGISTRATION_NUMBER')?></span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 footer-col-icon">
				<div class="footer-social pull-right">
					<a href="<?=t('FOOTER_SOCIAL_YOUTUBE_LINK')?>" target="_blank"><span class="icon icon-youtube"></span></a>
					<a href="<?=t('FOOTER_SOCIAL_FACEBOOK_LINK')?>" target="_blank"><span class="icon icon-facebook"></span></a>
					<a href="<?=t('FOOTER_SOCIAL_TWITTER_LINK')?>" target="_blank"><span class="icon icon-twitter"></span></a>
				</div>
			</div>
		</div>
	</div>
</footer>
