
<table cellpadding="0" cellspacing="0" class="login">
	<tr>
		<td>
			<div class="logo">Enterprise Hungary</div>
			<? if ($this->error): ?>
				<div class="error-msg"><?=$this->error?></div>
			<? endif; ?>
			<?=$this->form->render()?>
			<div class="form-button">
				<a href="" class="btn" id="button-login">Belépés</a>
			</div>
		</td>
	</tr>
</table>
