<div id="<?=$this->getId()?>" class="wx-list" data-descriptor="<?=$this->getId()?>" data-type="<?=$this->getPaginatorType()?>">
	<table class="wx-list-table" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<? foreach ($this->getLabels() as $label): ?>
				<?=$label->renderLabel()?>
			<? endforeach; ?>

			<? if ($this->hasButtons()): ?>
				<?=$this->getButtonsLabel()->renderLabel()?>
			<? endif; ?>
		</tr>
		<? foreach ($this->getRows() as $index => $row): ?>
			<tr>
				<? foreach ($row as $column): ?>
					<?=$column->render()?>
				<? endforeach; ?>

				<? if ($this->hasButtons()): ?>
					<?=$this->getButtons($index)->render()?>
				<? endif; ?>
			</tr>
		<? endforeach; ?>
	</table>
	<?=$this->getPaginator()->render()?>
</div>

<?=$this->renderJavascript('init.phtml')?>