<div id="<?=$this->getId()?>" class="wx-list" data-descriptor="<?=$this->getId()?>" data-page="<?=$this->getPage()?>" data-type="<?=$this->getPaginatorType()?>">
	
	<? foreach ($this->getData() as $one): ?>
		<div class="one"><b><?=$one->getId()?></b><br /></div>
	<? endforeach; ?>
	<?=$this->getPaginator()->render()?>

</div>

