<? if ($this->init): ?>
	<? $this->headScript()->captureStart();?>
		$(document).ready(function(){
			function doImport() {
				wx.ajax('/admin/translateeh/importtranslatefile',[],{
					afterSuccess : function(response){
						wx.feedback.init('success', 'Importálás sikeres', '', 1500);
						wx.list.refresh('<?=$this->listId?>', {});
					}
				});
			}

			function doExport() {
				wx.ajax('/admin/translateeh/exporttranslatefile',[],{
					afterSuccess : function(response){
						wx.feedback.init('success', 'Exportálás sikeres', '', 1500);
						wx.list.refresh('<?=$this->listId?>', {});
					}
				});
			}

			function doSearch() {
				wx.list.refresh('<?=$this->listId?>', {
					params : {
						query: $('#filter-search').val()
					}
				});
			}

			wx.list.init('<?=$this->listId?>', {
				onLoad : function() {
					wx.cms.list.init('<?=$this->cmsDescriptorName?>');
				}
			});

			$('#button-import').bind('click', function(e) {
				e.preventDefault();
				doImport();
			});

			$('#button-export').bind('click', function(e) {
				e.preventDefault();
				doExport();
			});

		$('#filter-search').keydown(function (e){
			if (e.keyCode == 13) {
				doSearch();
			}
		});
			

		});
	<? $this->headScript()->captureEnd() ?>
<? endif; ?>

<? if ($this->title): ?>
	<h1>
		<?=$this->title?>
		<input type="text" name="filter-search" id="filter-search" placeholder="Keresés..." />
		<input type="submit" name="button-export" id="button-export" value="Exportálás (szerkesztés után)" />
		<input type="submit" name="button-import" id="button-import" value="Importálás (szerkesztés előtt)" />
		<?=$this->render('buttons.phtml')?>
	</h1>
<? else: ?>
	<?=$this->render('buttons.phtml')?>
<? endif; ?>

<?=$this->list->render()?>