<? $this->headScript()->captureStart();?>
	$(document).ready(function(){
		wx.cms.wysiwyg.init({
			ckconfig : '<?=$this->ckconfig?>',
			submitButton : '<?=$this->saveButtonId?>',
			formId : '<?=$this->formId?>',
			saveUrl : '<?=$this->saveUrl?>'
		});
	});
<? $this->headScript()->captureEnd() ?>

<? if ($this->title): ?>
	<h1>
		<? if ($this->id): ?>
			<?=$this->title['edit']?>
		<? else: ?>
			<?=$this->title['add']?>
		<? endif; ?>
		<?=$this->render('buttons.phtml')?>
	</h1>
<? else: ?>
	<?=$this->render('buttons.phtml')?>
<? endif; ?>

<? /*
<? D($this->language); ?>
<? DX($this->languages); ?>
*/ ?>

<? if (count($this->languages) > 1) : ?>
	<div class="page-tabs">
		<? foreach ($this->languages as $iso => $one): ?>
			<a href="#" rel="<?=$iso?>" <?=$iso == $this->language ? 'class="active"' : ''?>><?=$one['name']?></a>
		<? endforeach; ?>
	</div>
<? endif; ?>

<form id="<?=$this->formId?>" method="post">
	<? foreach ($this->languages as $iso => $one): ?>
		<div class="wysiwyg-container <?=$iso != $this->language ? 'hidden' : ''?>" id="page-tab-<?=$iso?>">
			<textarea class="ckeditor ck-full" name="<?=$this->fieldName?>_<?=$iso?>" id="<?=$this->fieldName?>_<?=$iso?>"><?=$this->contents[$iso]?></textarea>
		</div>
	<? endforeach; ?>
	<input type="hidden" name="id" value="<?=$this->entityId?>" />
</form>