<?php
$this->headMeta()
	->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8')
	->appendHttpEquiv('Content-Language', 'hu-HU')
	->appendName('metatitle', '')
	->appendName('description', '')
	->appendName('keywords', '')
	->appendName('viewport', 'width=device-width')
;

$this->headLink(array('rel' => 'shortcut icon', 'href' => '/favicon.ico'));

$this->linkCompressor(array('rel' => 'shortcut icon', 'href' => '/favicon.ico'))
	->appendStylesheet(CSS_RELATIVE . 'admin-style.css')
	->appendStylesheet(NODE_RELATIVE . 'font-awesome/css/font-awesome.min.css')
	->appendStylesheet(PLUGIN_RELATIVE . 'jquery-ui/jquery-ui.min.css')
	->appendStylesheet('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext')
;

$this->scriptCompressor()
	->prependFile(JS_RELATIVE . 'admin.min.js', 'text/javascript', array())
	->prependFile(PLUGIN_RELATIVE . 'ckeditor/adapters/jquery.js',' text/javascript',array())
	->prependFile(PLUGIN_RELATIVE . 'ckeditor/ckeditor.js',' text/javascript',array())
	->prependFile(PLUGIN_RELATIVE . 'jquery-ui/jquery-ui.js', 'text/javascript',array())
	->prependFile(NODE_RELATIVE . 'jquery/dist/jquery.min.js', 'text/javascript',array())
;

echo $this->doctype().PHP_EOL;

$this->headScript()->captureStart();?>
	$(document).ready(function() {
		$('#adminlogin-form').dynamicForm({
			submitButton : '#button-login'
		});
	});
<? $this->headScript()->captureEnd() ?>

<!-- HTML STARTS -->

<html>
	<head>
		<?=$this->headTitle('Admin | Enterprise Hungary & Startup Campus') ?>
		<?=$this->headMeta().PHP_EOL; ?>
		<?=$this->linkCompressor().PHP_EOL; ?>
		<?=$this->headLink().PHP_EOL; ?>
		<?=$this->scriptCompressor().PHP_EOL; ?>
		<?=$this->headScript().PHP_EOL; ?>
	</head>
	<body>
		<?=$this->layout()->content ?>
		<?=$this->render('includes/dialogs.phtml')?>
	</body>
</html>
