<!-- BX Slider -->
<div class="wx-slider-container">
	<ul class="bxslider" style="display:none">

		<? foreach ($this->slides as $key => $one): ?>
		<li style="background-image: url('<?=$one['image']?>')">
			<span class="slider-elem__container">
				<h1><?=$one['title']?></h1>
				<? if ($one['forward'] == 1): ?>
					<a href="#" class="pull-down" rel="ismerd-meg">
						<span class="clearfix"></span>
						<span class="icon--arrow-down"></span>
					</a>
				<? endif; ?>
			</span>
		</li>
		<? endforeach; ?>

	</ul>
</div>
