		<div class="row card-wrapper card-news-wrapper">
			<? foreach ($this->news as $one): ?>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic">
					<a href="<?=$one['url']?>" class="visual-forward" style="background-image: url(<?=$one['image']?>)">
						<b class="link-forward animated fadeIn">
							<span class="icon--arrow-right-news animated zoomIn"></span>
						</b>
					</a>
					<span><?=$one['date']?></span>
					<p>
						<?=$one['title']?>
					</p>
				</div>
			</div>
			<? endforeach; ?>
		</div>
