<section class="section-student">
	<div class="container">
		<div class="row team-wrapper">
			<? foreach ($this->organizations as $one): ?>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<? if (!empty($one['link'])): ?>
						<a href="<?=$one['link']?>" target="_blank" class="card-iconic">
							<span class="img-cont"><img class="img-responsive" src="<?=$one['logo']?>" alt="<?=$one['title']?>"></span>
							<h3><?=$one['title']?></h3>
							<p>
								<?=$one['description']?>
							</p>
						</a>
					<? else: ?>
						<div class="card-iconic">
							<span class="img-cont"><img class="img-responsive" src="<?=$one['logo']?>" alt="<?=$one['title']?>"></span>
							<h3><?=$one['title']?></h3>
							<p>
								<?=$one['description']?>
							</p>
						</div>
					<? endif; ?>
				</div>
			<? endforeach; ?>
		</div>
	</div>
</section>
