/*
	Sizes
********************************************************************/
$page-width: 						 100%;
$slider-height: 					500px;
$navbar-height: 					 50px;
$wx-image-background-height:		$slider-height;
$sidebar-width: 					240px;

/*
	Base Typo
********************************************************************/
$font-size: 						13px;
$font-color: 						black;
$font-family: 						'Open Sans', sans-serif;

/*
	Colors Backgrounds
********************************************************************/
$body-bg:							white;

$link-color: 						black;
$link-hover-color:					lightgray;

$btn-primray-color: 				white;
$btn-primray-bg: 					black;
$btn-primray-border: 				black;

$btn-primray-hover-color: 			white;
$btn-primray-hover-bg: 				lightgray;
$btn-primray-hover-border: 			lightgray;

/*
	Navbar
********************************************************************/

$navbar-bg: 						black;
$navbar-scrolled-bg: 				lightgray;
$navbar-link-color:					white;

/*
	Dropdown
********************************************************************/
$dropdown-menu-bg: 					black;
$dropdown-submenu-bg: 				black;

/*
	Header
********************************************************************/
$header-effect-bg: 					dimgray;
$wx-header-color: 					white;
$slider-text-color: 				black;

/*
	Pull Down
********************************************************************/
$pull-down-button-bg: 				black;
$pull-down-button-hover-bg: 		white;

$pulldown-color:					black;
$pulldown-color-hover:				lightgray;
/*
	Sidebar
********************************************************************/
$sidebar-bg: 						black;
$sidebar-head-color: 				white;
$sidebar-link-color:				white;
$sidebar-link-hover-color: 			lightgray;

/*
	Card's
********************************************************************/
$card-iconic-bg: 					white;
$card-iconic-border-color: 			black;

$card-slider-controls-bg: 			black;
$card-slider-controls-hover-bg: 	lightgray;

$card-slider-controls-color: 		white;
$card-slider-controls-hover-color: 	white;
