<?=$this->render('includes/header-slider.phtml')?>
<section class="section-program p83">
	<div class="container" id="ismerd-meg">
	<h2>Startup Campus inkubációs program</h2>
		<div class="row card-wrapper card-news-wrapper card-programs ">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic">
					<span class="sc-icon icon-lamp"></span>
					<h3><?=t('LANDING_INTRO_1_TITLE')?></h3>
					<p>
						<?=t('LANDING_INTRO_1_DESCRIPTION')?>
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic">
					<span class="sc-icon icon-football"></span>
					<h3><?=t('LANDING_INTRO_2_TITLE')?></h3>
					<p>
						<?=t('LANDING_INTRO_2_DESCRIPTION')?>
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card-iconic">
					<span class="sc-icon icon-hat"></span>
					<h3><?=t('LANDING_INTRO_3_TITLE')?></h3>
					<p>
						<?=t('LANDING_INTRO_3_DESCRIPTION')?>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<?=$this->render('includes/section-registration.phtml')?>

<section class="section-events p83 esemenyek">
	<div class="container">
		<h2><?=t('SECTION_EVENTS_TITLE')?></h2>
		<div class="card-slider__wrapper">
			<div class="card-slider programs-slider">
				<? foreach ($this->events as $one): ?>
					<a href="<?=$one['link']?>" target="_blank" class="card-iconic" style="background-image: url(<?=$one['image']?>)">
						<div class="promgram-slider__cell">
							<div class="program-slider__cell-description">
								<time>
									<sup><?=$one['month']?></sup>
									<?=$one['day']?>
								</time>
								<h3 class="title">
									<?=$one['title']?>
								</h3>
							</div>
						</div>
					</a>
				<? endforeach; ?>
			</div>
		</div>
	</div>
</section>

<section class="section-timeline">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="timeline">

					<h2 class="tac"><?=t('SECTION_TIMELINE_TITLE')?></h2>

					<div class="line"></div>
					<div class="content">
						<ul class="dates">
							<? foreach ($this->timeline as $one): ?>
								<li class="timeline-elem">
									<ul class="timeline-desc">
										<li class="timeline-cell">
											<? if (!empty($one['month']) && !empty($one['day'])): ?>
												<span class="month"><?=$one['month']?></span>
												<span class="day"><?=$one['day']?></span>
											<? else: ?>
												<span class="month alone"><?=$one['month']?></span>
											<? endif; ?>
										</li>
										<li class="timeline-cell">
											<span class="title"><?=$one['title']?></span>
										</li>
										<li class="timeline-cell">
											<p>
												<?=$one['description']?>
											</p>
										</li>
									</ul>
								</li>
							<? endforeach; ?>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<?=$this->render('includes/section-registration.phtml')?>

<section class="section-news p83 hirek">
	<div class="container">
		<h2><?=t('SECTION_NEWS_TITLE')?></h2>
		<?=$this->news->render()?>
	</div>
</section>

<section class="section-subscribe p83">
	<div class="container">
		<div class="row">
			<h2>
				<?=t('SECTION_SUBSCRIBE_TITLE')?>
				<br><small><?=t('SECTION_SUBSCRIBE_SUBTITLE')?></small>
			</h2>
			<div class="subscribe-form__wrapper">
				<form action="//enterprisehungary.us12.list-manage.com/subscribe/post?u=298366e40004eddd888768359&amp;id=38279b04f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" role="form" target="_blank" novalidate>
					<input type="email" value="" placeholder="<?=t('SECTION_SUBSCRIBE_EMAIL_PLACEHOLDER')?>" name="EMAIL" class="required email form-control pull-left" id="mce-EMAIL">
					<input type="text" value="" class="name form-control pull-left" name="FNAME" placeholder="<?=t('SECTION_SUBSCRIBE_FNAME_PLACEHOLDER')?>" id="mce-FNAME">
					<input type="text" value="" class="name form-control pull-left" name="LNAME" placeholder="<?=t('SECTION_SUBSCRIBE_LNAME_PLACEHOLDER')?>" id="mce-LNAME">
					<input type="submit" value="<?=t('SECTION_SUBSCRIBE_BUTTON_LABEL')?>" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary pull-left">
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_298366e40004eddd888768359_38279b04f0" tabindex="-1" value=""></div>
				</form>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<div id="mce-responses" class="clear newsletter-response">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<? /*
<?=$this->render('includes/section-incube.phtml')?>

<section class="section-video p83">
	<div class="container">
		<div class="row">
			<h2><?=t('SECTION_GITR_TITLE')?></h2>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<a href="<?=t('SECTION_GITR_LINK')?>" title="">
					<img src="/images/dist/sc-video-image.png" class="img-responsive" alt="<?=t('SECTION_GITR_TITLE')?>">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p>
					<?=t('SECTION_GITR_DESCRIPTION')?>
				</p>
				<a href="<?=t('SECTION_GITR_BUTTON_LINK')?>" target="_blank" class="btn btn-primary btn-block"><?=t('SECTION_GITR_BUTTON_LABEL')?></a>
			</div>
		</div>
	</div>
</section> */ ?>

<?=$this->render('includes/section-about.phtml')?>
<?=$this->render('includes/section-partner.phtml')?>

