<section class="section-faq p83">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<? foreach ($this->faq as $key => $one): ?>
						<div class="panel">
							<div class="panel-heading" role="tab" id="heading<?=$key?>">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$key?>" aria-expanded="false" aria-controls="collapse<?=$key?>">
										<span class="icon"><i class="fa fa-play"></i></span>
										<span class="desc">
											<?=$one['question']?>
										</span>
									</a>
								</h4>
							</div>
							<div id="collapse<?=$key?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?=$key?>">
								<div class="panel-body">
									<?=$one['answer']?>
								</div>
							</div>
						</div>
					<? endforeach; ?>

				</div>
			</div>
		</div>
	</div>
</section>
