<?php

	$tabs = array(
		'event'	=> array(
			'label'		=> 'Események',
			'icon'		=> 'fa fa-calendar',
			'url'		=> Eh_Url::adminEvent()
		),
		'news'	=> array(
			'label'		=> 'Hírek',
			'icon'		=> 'fa fa-newspaper-o',
			'url'		=> Eh_Url::adminNews()
		),
		'slide'	=> array(
			'label'		=> 'Slideok',
			'icon'		=> 'fa fa-slideshare',
			'url'		=> Eh_Url::adminSlide()
		),
		'organization'	=> array(
			'label'		=> 'Diákszervezetek',
			'icon'		=> 'fa fa-star',
			'url'		=> Eh_Url::adminOrganization()
		),
		'batch'	=> array(
			'label'		=> 'Batchek',
			'icon'		=> 'fa fa-th-large',
			'url'		=> Eh_Url::adminBatch()
		),
		'startup'	=> array(
			'label'		=> 'Startupok',
			'icon'		=> 'fa fa-rocket',
			'url'		=> Eh_Url::adminStartup()
		),
		'team'	=> array(
			'label'		=> 'Csapat',
			'icon'		=> 'fa fa-user',
			'url'		=> Eh_Url::adminTeam()
		),
		'timeline'	=> array(
			'label'		=> 'Timeline',
			'icon'		=> 'fa fa-road',
			'url'		=> Eh_Url::adminTimeline()
		),
		/*'content'	=> array(
			'label'		=> 'Tartalmak',
			'icon'		=> 'fa fa-file',
			'url'		=> Eh_Url::adminContent()
		),*/
		'faq'	=> array(
			'label'		=> 'GYIK',
			'icon'		=> 'fa fa-question',
			'url'		=> Eh_Url::adminFaq()
		),
		'partner'	=> array(
			'label'		=> 'Partnerek',
			'icon'		=> 'fa fa-puzzle-piece',
			'url'		=> Eh_Url::adminPartner()
		),
		'translateeh' => array(
			'label'		=> 'EH szövegek',
			'icon'		=> 'fa fa-file',
			'url'		=> Eh_Url::adminTranslateeh()
		),
		'translatesc' => array(
			'label'		=> 'SC szövegek',
			'icon'		=> 'fa fa-file',
			'url'		=> Eh_Url::adminTranslatesc()
		),
		'admin'	=> array(
			'label'	=> 'Admin felhasználók',
			'icon'	=> 'fa fa-user',
			'url'	=> Eh_Url::adminAdmin()
		),
		'logout' => array(
			'label'	=> 'Logout',
			'icon'	=> 'fa fa-power-off',
			'url'	=> Eh_Url::adminLogout()
		)
	);

?>

<? $currentUrl = substr(BASE_HOST, 0, -1) . Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); ?>

<div class="left-side">
	<div class="tabs">
		<ul class="first">
			<?=WX_Admin_Menu::getInstance($tabs, array('url' => $currentUrl, 'controller' => $this->controller, 'action' => $this->action))->render();?>
		</ul>
	</div>
</div>