<section class="section-program p83">

	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
				<img src="/svg/icon-programs-target.svg" alt="" width="64">
			</div>
			<div class="col-xs-9 col-sm-11 col-md-11 col-lg-11">
				<h3><?=t('PROGRAM_SECTION_1_TITLE')?></h3>
				<?=t('PROGRAM_SECTION_1_DESCRIPTION')?>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
				<img src="/svg/icon-programs-share.svg" alt="" width="58">
			</div>
			<div class="col-xs-9 col-sm-11 col-md-11 col-lg-11">
				<h3><?=t('PROGRAM_SECTION_2_TITLE')?></h3>
				<?=t('PROGRAM_SECTION_2_DESCRIPTION')?>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
				<img src="/svg/icon-programs-books.svg" alt="" width="64">
			</div>
			<div class="col-xs-9 col-sm-11 col-md-11 col-lg-11">
				<h3><?=t('PROGRAM_SECTION_3_TITLE')?></h3>
				<?=t('PROGRAM_SECTION_3_DESCRIPTION')?>
			</div>
		</div>
	</div>
</section>
