<div class="wx-wrap-navbar">
	<div class="container-fluid wx-navbar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="wx-base-navbar">
				<div class="navbar-header">
					<button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<nav class="menu-line">
						<div class="side side-left">
							<a href="<?=Eh_Url::index()?>#.programjaink"><?=t('TAB_PROGRAMS_TITLE')?></a>
							<a href="<?=Eh_Url::index()?>#.kuldetesunk"><?=t('TAB_MISSION_TITLE')?></a>
						</div>
						<div class="side side-center">
							<a href="<?=Eh_Url::index()?>" title="Enterprise Hungary" class="logo">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.79 19.787"><path d="M3.245 5.316v-.793H5.29v-.84H3.246V2.89h2.23v-.897h-3.27V6.21H5.49v-.894m9.286 12.477l-.002-1.668h1.775v1.668h1.03v-4.217h-1.03v1.643h-1.775v-1.647h-1.04v4.217"/><path d="M0 0v19.787h19.79V0H0zm1 1h17.083L1 18.08V1zm17.79 17.787H1.707L18.79 1.707v17.08z"/></svg>
							</a>
						</div>
						<div class="side side-right">
							<a href="<?=Eh_Url::index()?>#.hirek"><?=t('TAB_NEWS_TITLE')?></a>
							<a href="<?=Eh_Url::index()?>#.esemenyek"><?=t('TAB_EVENTS_TITLE')?></a>
						</div>
					</nav>
				</div>
			</div>
			<div class="wx-toggle-navbar" id="st-trigger-effects">
				<button type="button" class="pull-left navbar-toggle" data-effect="st-effect-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="<?=Eh_Url::index()?>" title="Enterprise Hungary" class="logo">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.79 19.787">
						<path d="M3.245 5.316v-.793H5.29v-.84H3.246V2.89h2.23v-.897h-3.27V6.21H5.49v-.894m9.286 12.477l-.002-1.668h1.775v1.668h1.03v-4.217h-1.03v1.643h-1.775v-1.647h-1.04v4.217"/>
						<path d="M0 0v19.787h19.79V0H0zm1 1h17.083L1 18.08V1zm17.79 17.787H1.707L18.79 1.707v17.08z"/>
					</svg>
				</a>
			</div>
		</nav>
	</div>
</div>
