
		<script src="/js/plugins/classie.js"></script>
		<script src="/js/plugins/sidebarEffects.js"></script>
		<?=$this->partial('includes/script-analytics.phtml', array('code' => Zend_Registry::get('config')->googleAnalytics)) ?>
	</body>
</html>
