<?php
$meta = Eh_Meta::get($this->requestParams, $this);

$this->headMeta()
	->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8')
	->appendHttpEquiv('Content-Language', 'hu-HU')
	->appendName('metatitle', $meta['meta']['title'])
	->appendName('description', $meta['meta']['description'])
	->appendName('keywords', $meta['meta']['tags'])
	->appendName('viewport', 'width=device-width, initial-scale=1')
;

$this->headLink(array('rel' => 'shortcut icon', 'href' => '/favicon-eh.ico'))
	->appendStylesheet('http://fonts.googleapis.com/css?family=Roboto:100,400,500,300,700&subset=latin,latin-ext')
	->appendStylesheet('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700')
;

$this->linkCompressor(array('rel' => 'shortcut icon', 'href' => '/favicon.ico'))
	->appendStylesheet(NODE_RELATIVE . 'bootstrap/dist/css/bootstrap.min.css')
	->appendStylesheet(CSS_RELATIVE . 'bootstrap.css')
	->appendStylesheet(CSS_RELATIVE . 'animate.css')

	->appendStylesheet(PLUGIN_RELATIVE . 'bxslider4/jquery.bxslider.css')
	->appendStylesheet(PLUGIN_RELATIVE . 'prettyphoto/css/prettyPhoto.css')
	->appendStylesheet(CSS_RELATIVE . 'eh-style.css?' . CACHE_VERSION)
;

$this->scriptCompressor()
	//->prependFile(PLUGIN_RELATIVE_URL . 'jquery.bxslider/jquery.bxslider.min.js', 'text/javascript', array())
;

$this->headScript()
	->prependFile(PLUGIN_RELATIVE . 'wx/core.js', 'text/javascript', array())
	->prependFile(PLUGIN_RELATIVE . 'jquery.wxlist.js', 'text/javascript', array())
	->prependFile(JS_RELATIVE . 'eh.min.js?' . CACHE_VERSION, 'text/javascript', array())
	->prependFile(PLUGIN_RELATIVE . 'arbitrary.js', 'text/javascript', array())
	->prependFile(PLUGIN_RELATIVE . 'bxslider4/jquery.bxslider-rahisified.js', 'text/javascript', array())
	->prependFile(PLUGIN_RELATIVE . 'modernizr-custom.js', 'text/javascript', array())
	->prependFile(PLUGIN_RELATIVE . 'prettyphoto/js/jquery.prettyPhoto.js', 'text/javascript', array())
	->prependFile(NODE_RELATIVE . 'bootstrap/dist/js/bootstrap.js', 'text/javascript', array())
	->prependFile(NODE_RELATIVE . 'jquery/dist/jquery.js', 'text/javascript', array())
;
?>
<? $this->headScript()->captureStart('APPEND'); ?>
	<?=WX_Translator::getJS();?>

	$(document).ready(function(){
		wx.init({
			base_host : '<?=BASE_HOST;?>'
		});
	});

<? $this->headScript()->captureEnd() ?>
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
	<head>
		<?=$this->headTitle($meta['pageTitle']).PHP_EOL;?>
		<?=$this->headMeta().PHP_EOL; ?>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<?=$this->linkCompressor().PHP_EOL; ?>
		<?=$this->headLink().PHP_EOL; ?>
		<?=$this->scriptCompressor().PHP_EOL; ?>
		<?=$this->headScript().PHP_EOL; ?>

		<meta content='website' property='og:type'>
		<meta content='<?="http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]"?>' property='og:url'>
		<meta content='<?=$meta['og']['title']?>' property='og:title'>
		<meta content='<?=$meta['og']['description']?>' property='og:description'>
		<meta content='<?=$meta['og']['image']?>' property='og:image'>
	</head>
	<body>
		<?=$this->partial('includes/script-facebook.phtml') ?>
