body {
	background: $body-bg;
	font-size: $font-size;
	font-family: $font-family;
	color: $font-color;
}

a {
	color: $link-color;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $link-hover-color;
		text-decoration: none;
	}
}

[class*="col-lg-4"] {
	width: 33.3%;
}

/* Helper Classes */
.ptb45 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.tac {
	text-align: center;
}

.wrap {
	width: 100%;

	&--dark {
		background: #f5f6f8;
	}
}

/*Nav icon*/
.st-container {
	.st-content {
		background: $body-bg;
	}

	#nav-icon {
		width: 65px;
		height: 45px;
		position: relative;
		margin: 5px 10px;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 9px;
			width: 100%;
			background: #d3531a;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
				transform-origin: left center;
			}

			&:nth-child(2) {
				top: 18px;
				transform-origin: left center;
			}

			&:nth-child(3) {
				top: 36px;
				transform-origin: left center;
			}
		}
	}

	&.st-menu-open {
		#nav-icon {

			span {
				&:nth-child(1) {
					transform: rotate(45deg);
					top: -3px;
					left: 8px;
				}
			}

			span {
				&:nth-child(2) {
					width: 0%;
					opacity: 0;
				}
			}

			span {
				&:nth-child(3) {
					transform: rotate(-45deg);
					top: 39px;
					left: 8px;
				}
			}
		}
	}
}

.btn {
	border-radius: 4px;
}
.btn-primary {
	color: $btn-primray-color;
	background-color: $btn-primray-bg;
	border-color: $btn-primray-border;

	&:hover {
		color: $btn-primray-hover-color;
		background-color: $btn-primray-hover-bg;
		border-color: $btn-primray-hover-border;
	}
}


@media screen and (max-width: 768px) {
	[class*="col-lg-4"] {
		width: 100%;
	}
}
