@font-face {
	font-family: 'wx-base';
	src:url('/fonts/wx-base.eot');
	src:url('/fonts/wx-base.eot#iefix') format('embedded-opentype'),
		url('/fonts/wx-base.ttf') format('truetype'),
		url('/fonts/wx-base.woff') format('woff'),
		url('/fonts/wx-base.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
galanogrotesque-medium
GalanoGrotesque-Medium
*/

@font-face {
	font-family: 'GalanoGrotesque-Bold';
	src: url('/fonts/GalanoGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/GalanoGrotesque-Bold.otf')  format('opentype'),
		url('/fonts/GalanoGrotesque-Bold.woff') format('woff'),
		url('/fonts/GalanoGrotesque-Bold.ttf')  format('truetype'),
		url('/fonts/GalanoGrotesque-Bold.svg#GalanoGrotesque-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GalanoGrotesque-Medium';
		src: url('/fonts/GalanoGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/GalanoGrotesque-Medium.otf')  format('opentype'),
			 url('/fonts/GalanoGrotesque-Medium.woff') format('woff'),
			 url('/fonts/GalanoGrotesque-Medium.ttf')  format('truetype'),
			 url('/fonts/GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
	font-family: 'wx-base';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope-cube:before {
	content: "\e90f";
}
.icon-phone:before {
	content: "\e910";
}
.icon-arrow-border-left:before {
	content: "\e90c";
}
.icon-arrow-border-right:before {
	content: "\e90d";
}
.icon-arrow-border-down:before {
	content: "\e90e";
}
.icon-arrow-left:before {
	content: "\e90b";
}
.icon-youtube:before {
	content: "\e900";
}
.icon-arrow-right:before {
	content: "\e901";
}
.icon-arrow-down:before {
	content: "\e902";
}
.icon-arrow-down-circle:before {
	content: "\e903";
}
.icon-envelope:before {
	content: "\e904";
}
.icon-facebook:before {
	content: "\e905";
}
.icon-search:before {
	content: "\e906";
}
.icon-play-circle-fill:before {
	content: "\e907";
}
.icon-play-circle-empty:before {
	content: "\e908";
}
.icon-twitter:before {
	content: "\e909";
}
.icon-user:before {
	content: "\e90a";
}

