footer {
	width: 100%;
	height: 200px;
	background: black;
	color: white;

	.footer-social {
		a {
			display: inline-block;
			width: 44px;
			height: 44px;

			line-height: 55px;
			text-align: center;
			margin-right: 10px;

			span {
				color: white;
				font-size: 24px;
			}

			&:hover {
				background: ;

				span {
					color: #fff;
				}
			}
		}
	}
}
