.wx-layout__horizont  {

	.wx-navbar {
		.navbar {
			height: $navbar-height;
			margin-bottom: 0;
			border: 0;
		}
	}

	.wx-slider-container {
		float: left;
		width: 100%;
		height: 100vh;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;

		.bx-wrapper {

			.bx-viewport {
				border: 0;
				padding: 0;
				margin: 0;
				left: 0;


				background-size: cover;
				background-repeat: no-repeat;
				background-position: top center;
			}

			.bx-controls-direction {

				a {
					font-family: 'wx-base';
					position: absolute;
					top: 50%;
					margin-top: -40px;
					outline: 0;
					width: 32px;
					height: 32px;
					z-index: 9999;
					background: 0 0;
					color: $slider-control-color;
					font-size: 44px;
					text-indent: 0;

					&:hover {
						color: $slider-control-color-hover;
					}
			 	}

				.bx-prev {
					&:before {
						content: "\e90b";
					}
				}

				.bx-next {
					&:before {
						content: "\e901";
					}
				}
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					width: 100%;
					background-position: top center;
					background-size: cover;
					height: $slider-height;
					z-index: 9999;
					display: inline-block;
					position: absolute;
					text-align: center;
					color: $slider-text-color;

					.slider-elem__container {
						padding: 0 50px;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						align-content: center;
						flex-direction: column;
						height: 100%;
						justify-content: center;

						h1 {
							font-size: responsive;
							min-font-size: 24px;
							max-font-size: 36px;
							lower-font-range: 480px;
  							upper-font-range: 1024px;
							display: flex;
							flex-wrap: wrap;
						}

						h3 {
							font-size: responsive;
							min-font-size: 14px;
							max-font-size: 24px;
							lower-font-range: 480px;
  							upper-font-range: 1024px;
						}
					}
				}
			}
		}
	}

	.wx-image-background-text {
		float: left;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		height: $wx-image-background-height;
		background-image: url('/web/images/dist/batman01.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}

	.wx-header {
		color: $wx-header-color;
		text-align: center;

		height: calc($slider-height - $navbar-height);

		.wx-header__desc {
			position: relative;
			top: 50%;
			transform: translateY(-70%);
		}
	}
	.main-content {
		margin-top: calc($slider-height - $navbar-height);
	}
}

@media screen and (max-width: 480px) {
	.wx-layout__horizont {
		.wx-slider-container  {
			.bx-wrapper {
				ul {
					li {
						.slider-elem__container {
							padding-top: 50px;
							padding-left: 50px;
							padding-right: 50px;

							h1 {
								font-size: 24px;
							}

							h3 {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}
