/*
	Sizes
********************************************************************/
$page-width: 						 100%;
$slider-height: 					500px;
$navbar-height: 					 50px;
$wx-image-background-height:		$slider-height;
$sidebar-width: 					240px;

/*
	Base Typo
********************************************************************/
$font-size: 						13px;
$font-color: 						lightblue;
$font-family: 						'Open Sans', sans-serif;

/*
	Colors Backgrounds
********************************************************************/
$body-bg:							pink;

$link-color: 						pink;
$link-hover-color:					lightgray;

$btn-primray-color: 				lightblue;
$btn-primray-bg: 					pink;
$btn-primray-border: 				lightblue;

$btn-primray-hover-color: 			pink;
$btn-primray-hover-bg: 				lightblue;
$btn-primray-hover-border: 			pink;

/*
	Navbar
********************************************************************/

$navbar-bg: 						lightblue;
$navbar-scrolled-bg: 				lightgray;
$navbar-link-color:					pink;

/*
	Dropdown
********************************************************************/
$dropdown-menu-bg: 					lightblue;
$dropdown-submenu-bg: 				lightblue;

/*
	Header
********************************************************************/
$header-effect-bg: 					dimgray;
$wx-header-color: 					pink;
$slider-text-color: 				lightblue;

/*
	Pull Down
********************************************************************/
$pull-down-button-bg: 				lightblue;
$pull-down-button-hover-bg: 		pink;

$pulldown-color:					lightblue;
$pulldown-color-hover:				lightgray;
/*
	Sidebar
********************************************************************/
$sidebar-bg: 						lightblue;
$sidebar-head-color: 				pink;
$sidebar-link-color:				pink;
$sidebar-link-hover-color: 			lightgray;

/*
	Card's
********************************************************************/
$card-iconic-bg: 					pink;
$card-iconic-border-color: 			lightblue;

$card-slider-controls-bg: 			lightblue;
$card-slider-controls-hover-bg: 	lightgray;

$card-slider-controls-color: 		pink;
$card-slider-controls-hover-color: 	pink;

/*
	Timeline
********************************************************************/

$timeline-bullet-border: 			pink;
$timeline-bullet-bg: 				lightblue;
