.wx-layout__vertical {

	.wx-image-background {
		float: left;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		height: $wx-image-background-height;
		background-image: url('/web/images/dist/theme/base/placeholder-1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}

	.st-content-inner {
		position: relative;
		/*width: calc(100% - $sidebar-width);*/
		width: 100%;
		float: right;

		.wx-header {
			color: $wx-header-color;
			text-align: center;

			height: $slider-height;
			width: calc(100% - 70px);
			margin: 0 auto;
			float: none;

			.wx-header__desc {
				position: relative;
				top: 50%;
				transform: translateY(-70%);
			}
		}
	}

	.wx-slider-container {
		float: left;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;

		.bx-wrapper {
			.bx-viewport {
				border: 0;
				padding: 0;
				margin: 0;
				left: 0;
				height: $slider-height !important;

				background-image: url('/web/images/dist/theme/base/placeholder-1.jpg');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top center;
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					width: 100%;
					background-position: top center;
					background-size: cover;
					height: $slider-height;
					z-index: 9999;
					display: inline-block;
					position: absolute;
					text-align: center;
					color: $slider-text-color;

					.slider-elem__container {
						padding-top: calc($slider-height * .2);
						padding-left: 80px;
						padding-right: 80px;
						display: inline-block;

						h1 {
							font-size: responsive;
							min-font-size: 24px;
							max-font-size: 36px;
							lower-font-range: 480px;
  							upper-font-range: 1024px;
						}
						h3 {
							font-size: responsive;
							min-font-size: 14px;
							max-font-size: 24px;
							lower-font-range: 480px;
  							upper-font-range: 1024px;
						}
					}
				}
			}
		}
	}

	.main-content {
		margin-top: $slider-height;
	}
}

@media screen and (max-width: 768px) {
	.wx-layout__vertical {
		.st-content-inner {
			width: 100%;
			float: left;
			margin: 0;
		}
	}
}
