
<?=$this->render('includes/layout-header.phtml')?>

<div class="header-animated">
	<div class="wx-layout__horizont horizont-sidebar">
		<div id="st-container" class="st-container st-effect-1">
			<div class="st-pusher">
				<?=$this->render('includes/sidebar.phtml')?>
				<div class="st-content">
					<div class="st-content-inner">
						<?=$this->render('header.phtml')?>
						<div class="main-content">
							<?=$this->layout()->content ?>
						</div>
						<?=$this->render('footer.phtml')?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?=$this->render('includes/layout-footer.phtml')?>
