<?=$this->render('includes/layout-header.phtml')?>

<div class="header-animated subpage">
	<div class="wx-layout__horizont horizont-sidebar">
		<div id="st-container" class="st-container">
			<div class="st-pusher">
				<?=$this->render('includes/sidebar.phtml')?>
				<div class="st-content">
					<div class="st-content-inner">
						<?=$this->render('header.phtml')?>
						<header class="section-header">
							<div class="container">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-header__title">
										<h1>
											<?=$this->pageTitle?>
										</h1>
									</div>
								</div>
							</div>
						</header>
						<div class="main-content subpage-content">
							<?=$this->layout()->content ?>
						</div>
						<?=$this->render('footer.phtml')?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?=$this->render('includes/layout-footer.phtml')?>
