<div class="wx-paginator-more">
	<? if ($this->getNextPage()): ?>
		<a href="#" class="wx-list-more">Load more</a>
		<div class="wx-list-more-loader" style="display: none;">Loading...</div>
	<? endif; ?>
</div>