<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto({
    	social_tools: false
    });
  });
</script>

<section <?=(!empty($this->news['image']) ? 'class="section-header" style="background-image: url('.$this->news['image'].'); background-size: cover;";' : 'class="section-header palette"')?>>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news-header">
				<h1>
					<?=$this->news['title']?>
				</h1>
				<time>
					<?=$this->news['date']?>
				</time>
			</div>
		</div>
	</div>
</section>
<section class="section-news-content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news-content-wrapper">
				<div class="news-content__header">
					<div class="fb-share-button" data-href="<?="http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]"?>" data-layout="button_count"></div>
					<? if (!empty($this->news['pressrelease'])): ?>
						<a href="<?=$this->news['pressrelease']?>" class="btn btn-primary pull-right"><?=t('NEWS_DOWNLOAD_PRESS_RELEASE_LABEL')?></a>
					<? endif; ?>
				</div>
				<section class="news-content__inner">

					<p class="lead">
						<?=$this->news['lead']?>
					</p>
					<?=$this->news['description']?>
					
					<? if (!empty($this->news['gallery'])) : ?>
						<div class="row gallery">
							<? foreach ($this->news['gallery'] as $image): ?>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<a href="<?=$image['normal']?>" rel="prettyPhoto[]"><img class="img-responsive" src="<?=$image['thumbnail']?>" /></a>
								</div>
							<? endforeach; ?>
						</div>
					<? endif; ?>
					<div class="fb-share-button" data-href="<?="http://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]"?>" data-layout="button_count"></div>
				</section>
			</div>
		</div>
	</div>
</section>
<div class="section-news p83">
	<div class="container">
	<h2><?=t('NEWS_MORE_NEWS_TITLE')?></h2>
		<?=$this->partial('includes/news-block.phtml', array('news' => $this->moreNews))?>
	</div>
</div>
