<? if ($this->init): ?>
	<? $this->headScript()->captureStart();?>
		$(document).ready(function(){
			var selectedLanguage = $(this).val();
			wx.list.init('<?=$this->listId?>', {
				onLoad : function() {
					wx.cms.list.init('<?=$this->cmsDescriptorName?>');
				}
			});

			$('#language-selector-list').bind('change', function(){
				var selectedLanguage = $(this).val();
				wx.ajax('/ajax/changecontentlanguage', {lang : selectedLanguage}, {
					afterSuccess : function(response) {
						wx.list.refresh('<?=$this->listId?>', {
							onSuccess : function () {
								wx.cms.list.init('<?=$this->cmsDescriptorName?>');
							}
						});
					}
				});
			});
		});
	<? $this->headScript()->captureEnd() ?>
<? endif; ?>

<? if ($this->title): ?>
	<h1>
		<?=$this->title?>
		<? $contentLanguage = Eh_Admin_ContentLanguage::getInstance(); ?>
		<?=$this->render('buttons.phtml')?>
		<label>
			Nyelv:
			<select id="language-selector-list">
				<option value="0" <?=($contentLanguage->isSelected(0) ? 'selected="selected"' : '');?>>Mind</option>
				<option value="hu" <?=($contentLanguage->isSelected('hu') ? 'selected="selected"' : '');?>>Magyar</option>
				<option value="en" <?=($contentLanguage->isSelected('en') ? 'selected="selected"' : '');?>>Angol</option>
			</select>
		</label>
	</h1>
<? else: ?>
	<?=$this->render('buttons.phtml')?>
<? endif; ?>

<?=$this->list->render()?>