<div class="wx-paginator-more">
	<? if ($this->getNextPage()): ?>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac">
				<a href="#" class="btn btn-primary wx-list-more"><?=t('LANDING_NEWS_LOAD_MORE_LABEL')?></a>
				<div class="wx-list-more-loader" style="display: none;"><?=t('LANDING_NEWS_LOADING_LABEL')?></div>
			</div>
		</div>
	<? endif; ?>
</div>