

h1, h2, h3, h4, h5, h6 {
	color: $font-color;
}

h1 {
	font-size: responsive;
	min-font-size: 24px;
	max-font-size: 48px;
	lower-font-range: 480px;
	upper-font-range: 1024px;
}

h2 {
	font-size: responsive;
	min-font-size: 20px;
	max-font-size: 36px;
	lower-font-range: 480px;
	upper-font-range: 1024px;
}

.p83 {
	padding-top: 83px;
	padding-bottom: 83px;
}

.palette {
	background-image: url(/svg/eh-palette.svg);
}

.btn-primary {
	text-transform: uppercase;
	font-size: 12px;
	border-width: 2px;

	border-color: $brand-color;
	color: $brand-color;
	padding: inherit;
	padding: 14px 23px;
	transition: .3s;
	border-radius: 4px;

	&:hover {
		border: 2px solid $brand-color;
		background: $brand-color;
		color: #ffffff;
	}
}

.pull-down {
	bottom: inherit;
	top: 485px;
	width: 51px;
}

.card-slider__wrapper .bx-wrapper {
	margin: 0;
}

.sc-logo-header {
	fill: white;
}

.sc-logo-navbar {
	height: 50px;
	.text {
		fill: #404144;
	}

	.logo {
		fill: $brand-color;
	}
}

.horizont-sidebar {
	.st-container {
		.wx-sidebar {
			.logo {
				margin-bottom: 30px;

				svg {
					transform: rotate(180deg);
				}
			}

			.btn-primary {
				margin-top: 20px;
			}
		}
	}
}

.wx-wrap-navbar {
	z-index: 3;
}

/*
* Sprite
******************************************************************************/
.icon-football {
	background-image: url(/images/dist/sc-sprite.png);
	background-position: 0 0;
	width: 67px;
	height: 58px;
}
.icon-hat {
	background-image: url(/images/dist/sc-sprite.png);
	background-position: 0 -59px;
	width: 68px;
	height: 58px;
}
.icon-lamp {
	background-image: url(/images/dist/sc-sprite.png);
	background-position: 0 -118px;
	width: 41px;
	height: 58px;
}
.icon-pull-down {
	background-image: url(/images/dist/sc-sprite.png);
	background-position: 0 -177px;
	width: 25px;
	height: 14px;
}
.pull-down-icon {
	background-image: url(/images/dist/sc-sprite.png);
	background-position: 0 -192px;
	width: 25px;
	height: 14px;
}
.sc-event-left {
	background-image: url(/images/dist/sc-sprite.png);
	background-position: 0 -207px;
	width: 16px;
	height: 18px;
}
.sc-event-right {
	background-image: url(/images/dist/sc-sprite.png);
	background-position: 0 -226px;
	width: 16px;
	height: 18px;
}
