footer {
	width: 100%;
	background: $footer-bg;
	color: $footer-color;
	font-weight: 100;
	height: initial;

	.footer-desc {
		padding-top: 72px;
    	padding-bottom: 66px;

		h3 {
			color: $footer-color;
			margin-bottom: 17px;
			margin-top: 2px;
			font-size: 18px;
		}
		span {

			&.data {
				display: block;
				line-height: 27px;
			}
		}
	}

	.footer-social {
		padding-top: 114px;

		a {
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 62px;
			text-align: center;
			margin-right: 10px;
			box-sizing: border-box;
			background: $brand-color;
			transition: background .3s;
			border-radius: 5px;

			span {
				color: white;
				font-size: 24px;
			}

			&:hover {
				background: $footer-color;

				span {
					color: $brand-color;
				}
			}
		}
	}
}
