.subpage {
/*
	Navbar
********************************************************************/
	.wx-layout__horizont {

		.wx-wrap-navbar {

			.navbar-default {
				display: block;
				background: transparent;

				.navbar-nav{
					> li {
						a {
							padding: 10px 15px;
							color: white;

							&.btn-primary {
								background-color: #fff;
								border-color: #fff;
								color: $brand-color;
							}
						}
					}
				}

				.logo {
					.sc-navbar-logo {
						fill: white;
						height: 50px;

						path {
							fill: white !important;
						}
					}
				}

				&.header-change-height {
					background: #fff;
					.navbar-nav{
						> li {
							a {
								color: black;

								&.btn-primary {
									background-color: $brand-color;
									border-color: $brand-color;
									color: #fff;
								}
							}
						}
					}

					.logo {
						.sc-navbar-logo {
							height: 50px;

							path {
								fill: #404144 !important;

								&.sign {
									fill: $brand-color !important;
								}
							}
						}
					}
				}
			}
		}

		.section-header {
			position: absolute;
			top: 0;
			left: 0;

			height: 400px;
			width: 100%;
			background: url(/images/dist/sc-subpage-header-bg.png) repeat-x left top;

			.section-header__title {
				display: table;
				height: 400px;
				vertical-align: middle;
				h1 {
					font-size: 48px;
					font-weight: 700;
					color: white;
					text-align: center;
					margin: 0;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		.main-content {
			margin-top: 325px;
		}
	}
}
