.page-news {

	.st-content {
		background: #f5f6f8;
	}
	.main-content {
		margin-top: 0;
	}

/*
	Navbar
********************************************************************/
	.wx-layout__horizont {
		.wx-navbar {
			.navbar-default {
				padding: 0;
				display: block;
				width: 100%;
				position: fixed;
			}
			.menu-line {
				background: white;
				margin-top: 0;
				height: 76px;
				border-bottom: 1px solid #ececec;
				a {
					color: $font-color;
				}

				.side-center {
					svg {
						fill: $brand-color;
						position: relative;
						top: 2.5px;
					}
				}
			}
		}
	}

/*
	Header
********************************************************************/
	.section-header {
		height: 576px;
		background-color: #1b75bc;
		background-size: 960px;
		background-position: center center;
		text-align: center;

		&.palette {
			background-image: url(/svg/eh-palette-news.svg);
		}

		.news-header {
			height: 576px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		h1 {
			color: white;
		}

		time {
			font-size: 18px;
			color: #cdcdcd;
			text-transform: uppercase;
			line-height: 50px;
		}
	}
/*
	Content
********************************************************************/
	.news-content-wrapper {
		max-width: 1024px;
		margin: -69px auto 0 auto;
		background: white;

		.news-content__header {
			height: 69px;
			width: 100%;
			padding: 10px 2px;
			box-sizing: border-box;

			.fb-share-button {
				margin: 15px 0px 0px 20px;
    			float: left;
			}
		}

		.news-content__inner {
			width: 100%;
			padding: 58px 174px;

			@import '../../../../js/plugins/ckeditor/profiles/editor-news.css';

			p.lead {
				font-weight: 700;
			}

			.fb-share-button {
				margin: 0px 0 70px 0px;
				float: left;
			}
		}
	}

	.gallery {
		margin-top: -10px;
		
		img {
			margin: 10px 0;
		}
	}
}


