@media screen and (min-width: 768px) and (max-width: 1024px) {

	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	[class*=col-] {
		padding-left: 10px;
		padding-right: 10px;
	}

	.row {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 10px;
		padding-right: 10px;
	}

/***********************************************************************************************************/
	.horizont-sidebar {

		.st-container {

			.wx-wrap-navbar {
				display: block;

				.wx-base-navbar {
					display: none;
				}

				.wx-toggle-navbar {
					display: block;
					text-align: center;

					.navbar-toggle {
						display: block;
					}
				}
			}

			.wx-sidebar {
				&.st-menu {
					visibility: visible;
					transform: translate3d(-100%,0,0);
					display: block;
				}
			}

			&.st-menu-open {
				.wx-sidebar {
					&.st-menu {
						visibility: visible;
						transform: translate3d(0 , 0 , 0);
					}
				}
			}
		}
	}
/***********************************************************************************************************/
	.wx-layout__horizont {
		.navbar-default  {
			.navbar-toggle {
				border: 0;
				margin-top: 11px;
				margin-left: 0;

				&:hover {
					background: transparent;
				}

				.icon-bar {
					width: 40px;
					height: 3px;
					border-radius: 0;
					background: #000;
					margin-top: 10px;
					top: -9px;
					position: relative;
				}
			}
		}

		.wx-slider-container {
			.bx-wrapper {
				ul  {
					li {
						.slider-elem__container {
							padding: 0 60px;

							.slider-elem__text {
								.slider-elem__text-wrapper {
									h1 {
										font-size: 40px;
									}

									h3 {
										font-size: 30px;
									}
								}
							}
						}
					}
				}

				.bx-prev {
					left: 27px;
				}

				.bx-next {
					right: 37px;
				}
			}
		}

		.wx-navbar {
			.menu-line {
				.side-left {
					a {
						margin-left: 30px;
					}
				}
				.side-center {
					padding: 0 40px;
				}
				.side-right {
					a {
						margin-right: 30px;
					}
				}
			}
		}

		.wx-wrap-navbar {
			.logo {
				position: absolute;
				left: 50%;
				margin-left: -70px;
				top: -0.5px;
			}
		}
	}

	.section-subscribe {
		.subscribe-form__wrapper {
			form {
				.form-control {
					margin-bottom: 20px;
					width: 30%;
					margin-right: 5%;

					&:nth-of-type(3) {
						margin-right: 0;
					}
				}

				.btn-primary {
					width: 100%;
				}
			}
		}
	}

/*
	Subpage
********************************************************************/
	.subpage {
		.wx-layout__horizont {
			.section-header {
				margin-top: 75px;

				.section-header__title {
					h1 {
						font-size: 36px;
					}
				}
			}

			.wx-wrap-navbar {
				.navbar-default {
					background: #fff;
					border-bottom: 1px solid $font-color;
				}
			}

			.main-content {
				margin-top: 400px;
			}
		}

		.horizont-sidebar {
			.st-container {
				.wx-wrap-navbar {
					.wx-toggle-navbar {
						.navbar-toggle {
							//margin-top: -7px;
						}
					}
				}
			}
		}
	}
/*
	News Page
********************************************************************/
	.page-news {
		.section-news {
			&.p83 {
				padding-bottom: 54px;
			}
		}

		.news-content-wrapper {

			.news-content__inner {
				padding: 58px 64px
			}
		}
	}

	.section-student {
		background: #f5f6f8;
		padding-bottom: 20px;

		.card-iconic {
			border: 0;
			margin: 20px 0 0;
			padding: 10px 30px;

			h3 {
				font-weight: 700;
				font-family: 'Open Sans', sans-serif;
				text-align: center;
				margin: 45px 0;

				font-size: 18px;
				line-height: 25px;
			}

			p {
				font-size: 15px;
				line-height: 23px;
				font-weight: 300;
			}
		}
	}
}
