@media screen and (max-width: 479px) {

	h2 {
		font-size: 30px;
	}

	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	[class*=col-] {
		padding-left: 10px;
		padding-right: 10px;
	}

	.row {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.p83 {
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.horizont-sidebar {
		.st-container {
			.wx-wrap-navbar {
				.navbar-default  {
					.navbar-toggle {
						border: 0;
						margin-top: 11px;
						margin-left: 0;

						.icon-bar {
							width: 40px;
							height: 3px;
							border-radius: 0;
							background: #000;
							margin-top: 10px;
							top: -9px;
							position: relative;
						}

						&:hover {
							border: 0;
							background: transparent;
						}
					}
				}
			}
		}
	}

	.wx-layout__horizont {
		.wx-slider-container {
			.bx-wrapper {
				ul {
					li {
						.slider-elem__container {
							padding: 0 60px;

							.slider-elem__text {
								.slider-elem__text-wrapper {
									h1 {
										font-size: 28px;
										padding: 0 20px;
										margin-bottom: 20px;
									}

									h3 {
										font-size: 21px;
										padding: 0 20px;
									}
								}
							}
						}
					}
				}

				.bx-prev {
					left: 15px;
				}

				.bx-next {
					right: 20px;
				}
			}
		}

		.wx-wrap-navbar {
			.logo {
				position: absolute;
				left: 50%;
				margin-left: -70px;
				top: -0.5px;
			}
		}
	}

	.section-registration {
		h3 {
			margin-top: 0;
			text-align: center;
			margin-bottom: 30px;
		}

		p {
			text-align: center;
		}

		.btn-primary {
			float: none;
			margin-right: auto;
			display: block;
			margin-left: auto;
		}
	}

	.section-timeline {
		.timeline .content {
			.dates {
				.timeline-elem {
					.timeline-desc {
						.timeline-cell {
							&:nth-child(1) {
								width: 60px;
							}
							&:nth-child(2) {
								width: 100%;
								float: left;
								font-size: 21px;
								margin-bottom: 10px;
							}
							&:nth-child(3) {
								width: 100%;
								float: left;
								font-size: 16px;
								line-height: 21px;
							}
						}
					}
				}
			}
		}
	}

	.section-video {
		h2 {
			font-size: 36px;
		}
	}

	.section-incube {
		img {
			&.pull-right {
				float: none !important;
				margin: 0 auto 50px
			}
		}
	}

	.section-about {
		svg {
			width: 150px;
			margin: 0 auto 50px auto;
			display: block;
		}
	}

	.section-subscribe  {
		&.p83 {
			padding-top: 40px;
		}
		h2 {
			font-size: 36px;
			padding: 0 10px;
			line-height: 41px;
		}

		.subscribe-form__wrapper  {
			margin-top: 33px;

			form {
				margin-top: 33px;
				margin: 0 auto;
				display: inline-block;
				padding: 0 20px 0 20px;

				.btn-primary {
					width: 100%;
					height: 67px;
					margin-top: 20px;

					&.pull-left {
						float: none !important;
					}
				}
				.form-control {
					margin-bottom: -2px;
					width: 100%;
					height: 67px;
					font-size: 14px;
					padding: 6px 22px;
				}
			}
		}
	}

	.section-news {
		margin-bottom: 30px;

		.card-news-wrapper {

			.card-iconic {
				p {
					padding-bottom: 15px;
				}
			}

			[class*=col-]:last-of-type {
				p {
					padding-bottom: 0;
				}
			}
		}
	}

	.section-partners {
		text-align: center;

		a {
			display: inline;
		}

		img {
			margin-bottom: 30px;
		}
	}

	footer {
		height: 100%;
		text-align: center;

		.footer-desc {
			padding-left: 0;
		}

		.footer-social {
			&.pull-right {
				float: none !important;
				padding-right: 0;
			}
		}
	}

	.footer-row {
		display: flex;
		flex-direction: column;

		.footer-col-desc {
			display: flex;
			flex-direction: column;
			order: 2;

			.footer-desc {
				padding-top: 74px;
				padding-bottom: 88px;
			}
		}

		.footer-col-icon {
			display: flex;
			flex-direction: column;
			order: 1;

			.footer-social {
				padding-top: 74px;
			}
		}
	}
/*
	Subpage
********************************************************************/
	.subpage {
		.wx-layout__horizont {
			.section-header {
				margin-top: 75px;

				.section-header__title {
					h1 {
						font-size: 36px;
					}
				}
			}

			.wx-wrap-navbar {
				.navbar-default {
					background: #fff;
					border-bottom: 1px solid $font-color;
				}
			}

			.main-content {
				margin-top: 400px;
			}
		}
	}
/*
	Team
********************************************************************/
	.section-team {
		.team-wrapper {

			.card-iconic {
				margin-bottom: 55px;

				h3 {
					font-size: 32px;
				}

				span {
					font-size: 22px;
				}

				.social {
					text-align: center;

					a {
						color: #a7a6a6;
						font-size: 22px;
						display: inline-block;

						&:nth-child(1) {
							margin: 0 10px;
						}
						&:nth-child(2) {
							margin: 0 10px;
						}
					}
				}
			}
		}
	}
/*
	Startup Profile
********************************************************************/
	.section-startup {
		&--profile {
			h5 {
				font-size: 16px;
				font-weight: 700;
				margin: 30px 0 10px 0;
			}

			.startup-images {
				padding: 0;
			}
		}
	}
/*
	Partners
********************************************************************/
	.section-partners {
		a {
			img {
				max-height: 100%;
			}
		}
	}

/*
	News Page
********************************************************************/
	.page-news {
		.wx-layout__horizont {
			.wx-wrap-navbar {
				.navbar-default {
					display: block;
				}
			}
		}

		.news-content-wrapper {
			.news-content__header {
				.fb-share-button {
					margin: 15px 0px 0px 0;
				}
			}

			.news-content__inner {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

/*
	Startup List page
*************************************************************************/
	.section-startup {

		&--list {

			.content-tab__wrapper {

				.nav-tabs {
					border: 0;

					box-shadow:  inset 8px 0 0 -2px #e7e7e7;

					li {

						&:hover,
						&:focus,
						&.active {
							box-shadow:  inset 8px 0 0 -2px #cdcdcd;

							a {
								border: 0;
								box-shadow: 0 0 0 0;
								margin-top: 0;
							}
						}
					}
				}
			}
		}

		&--profile {

			.left {
				width: 100%;
			}

			.right {
			    border-left: 0;
			    padding: 0 20px;
			    width: 100%;
			    margin-left: 0;
			}
		}
	}

	.section-program {
		h3,
		p {
			margin-left: 0px;
		}
	}
}
