.section-registration {
	&.p83 {
		padding-top: 65px;
		padding-bottom: 70px;
	}

	background: $brand-color;
	position: relative;

	color: white;

	&:before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(/svg/sc-stock.svg);
	}

	h3 {
		font-size: 30px;
		font-weight: 500;
		color: white;
		margin-top: 0;
		margin-bottom: 15px;
	}

	p {
		font-size: 18px;
		line-height: 26px;
		margin: 10px 0 0;
		font-weight: 300;
	}

	.btn-primary {
		font-weight: 700;
		font-size: 18px;
		float: right;
		margin-top: 16px;
		border-radius: 5px;
		border: 0;
		padding: 18px 31px;
		font-weight: 600;
	}
}
