.section-incube {
	background-color: #2BA567;
	color: #fff;

	h3 {
		font-size: 30px;
		margin-top: 0;
		font-weight: 600;
		color: #fff;
	}

	p {
		font-size: 18px;
		line-height: 28px;
		font-weight: 300;
		margin: 22px 0;
	}

	a {
		font-size: 18px;
	}
}

.section-student {
	background: #f5f6f8;
	padding-bottom: 40px;
	padding-top: 20px;

	.team-wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		[class*=col-] {
			display: flex;
		}
	}
	.card-iconic {
		border: 0;
		margin: 20px 0 0;
		padding: 10px 40px;

		h3 {
			font-weight: 700;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			margin: 30px 0;

			font-size: 18px;
			line-height: 25px;
		}

		p {
			font-size: 15px;
			line-height: 23px;
			font-weight: 300;
		}

		img {
			max-width: 164px;
			max-height: 164px;
			display: block;
			margin: 0 auto;
		}

		.img-cont {
			width: 100%;
			height: 164px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	a {
		&.card-iconic {
			color: #1e1e1e;

			&:hover {
				background: #fcfcfc;
			}
		}
	}
}
