.section-timeline {
	background: #f5f6f8;
	padding: 0;

	h2 {
		font-weight: 600;
		margin-top: 0;
		padding-top: 83px;
		margin-bottom: 90px;
		z-index: 2;
		position: relative;
	}

	.timeline  {
		padding-top: ;

		.line {
			width: 6px;
			background: #efefef;
			top: 0;
		}
		.content {
			padding-left: 0;

			.dates {
				padding: 0 0 0 24px;
				.timeline-elem {

					&:last-of-type  {
						padding-bottom: 127px;
					}

					margin: 0 0 0 0;
					padding-left: 0;
					float: none;

					&:before {
						display: none;
					}

					.timeline-desc {
						display: table;
						margin: 0;
						padding: 0;


						.timeline-cell {
							list-style: none;
							display: table-cell;
							vertical-align: top;

							.month {
								width: 40px;
							    display: inline-block;
							    text-align: center;
							    color: #1b75bc;
							    font-weight: 700;
							    background: #f5f6f8;
							    padding-top: 5px;
							    margin-top: -5px;

							    &.alone {
							    	width: 40px;
								    height: 40px;
								    font-size: 30px;
								    text-align: center;
								    margin-top: 0px;
							    }
							}

							.day {
								display: inline-block;
								width: 40px;
								font-size: 30px;
								font-weight: 700;
								color: #1b75bc;
								background: #f5f6f8;
								padding-bottom: 5px;
							}

							.title {
								font-weight: normal;
								font-size: 24px;
								color: $font-color;
								padding-right: 15px;
								margin-top: -6px;
								line-height: 33px;
							}

							p {
								font-size: 18px;
								line-height: 26px;
								color: #717d87;
								font-weight: 300;
							}

							&:nth-child(1) {
								text-align: center;
								width: 40px;
								padding-right: 50px;
								line-height: 28px;
							}

							&:nth-child(2) {
								width: 260px;
								padding-top: 7px;
							}

							&:nth-child(3) {
								max-width: 674px;
								padding-top: 5px;
							}
						}
					}
				}
			}
		}
	}
}
