.section-startup {

	&--list {
		padding-top: 97px;
		padding-bottom: 37px;
		.content-tab__wrapper {

			.nav-tabs {
				border: 0;

				box-shadow:  0 5px 0px 0px #e7e7e7;
				> li {
					> a {
						text-align: left;
						margin-right: 0;
						border: 0;
						border-radius: 0;

						small {
							color: #cdcdcd;
							font-size: 15px;
							font-weight: 700;
							display: block;
						}

						span {
							color: $font-color;
							font-weight: 700;
							font-size: 24px;
						}

						&:focus {
							background: transparent;
						}
					}
					&:hover,
					&:focus,
					&.active {
						a {
							background: transparent;
							border: 0;
							margin-top: 1px;
							box-shadow: 0 5px 0px 0px #cdcdcd;
						}
					}
				}
			}
			.startup-card {
				padding-bottom: 17px;

				h3 {
					margin-bottom: 41px;
					font-size: 30px;
				}

				img {
					height: 60px;
					margin-bottom: 37px;
				}

				p {
					font-weight: 300;
					font-size: 16px;
					line-height: 26px;

					a {
						color: $brand-color;
					}
				}
			}
		}
	}

	&--profile {

		section {
			margin-bottom: 32px;
			font-weight: 100;
			font-size: 15px;
			line-height: 26px;
		}

		article {

		}

		h5 {
			font-weight: 600;
			font-size: 15px;
		}

		p {
			font-weight: 100;
			font-size: 15px;
			line-height: 26px;
			margin-bottom: 32px;
		}

		.logo {
			margin-bottom: 20px;
		}

		.left {
			width: 30%;
			margin-right: 3.33333333%;
		}

		.right {
		    border-left: 1px solid #e7e7e7;
		    padding-left: 3.3333333333%;
		    width: 69.99999999999%;
		    margin-left: -3.33333333%;
		}

		.startup-images {
			h3 {
				margin-bottom: 30px;
			}
		}
	}
}
