.section-video {
	background-color: #151515;
	color: #fff;

	h2 {
		text-align: center;
		color: #fff;
		font-weight: 600;
		margin-bottom: 58px;
		margin-top: -6px;
	}

	p {
		margin: 40px 0;
		font-size: 23px;
		line-height: 30px;
		text-align: center;
		font-weight: 300;
	}

	img {
		opacity: .8;

		&:hover {
			opacity: 1;
		}
	}

	.btn-primary {
		background: $brand-color;
		border-color: $brand-color;
		color: white;
		font-size:18px;
		font-weight: 300;

		&:hover {
			background: white;
			border-color: white;

			color: $brand-color;
		}
	}
}
