
.section-subscribe {
	text-align: left;
	background-color: #f5f6f8;
	position: relative;

	&:before {
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background-image: url(/svg/sc-stock-grey.svg);
	}

	.container {
		position: relative;
	}
	h2 {
		text-align: center;
		line-height: 32px;
		margin-top: 0;

		small {
			color: #717d87;
			font-size: 18px;
			line-height: 28px;
			padding-top: 6px;
			margin: 5px 0 -5px;
		}
	}

	.subscribe-form__wrapper {
		text-align: center;
		margin-top: 80px;

		a {
			color: $brand-color;
		}

		form {
			margin: 0 auto;
			display: inline-block;

			.form-control {
				margin-right: 20px;
				width: 218px;
				background: #ffffff;
				height: 47px;
				font-size: 13px;
			}

			.btn-primary {
				background: $brand-color;
				color: #ffffff;
				padding: inherit;
				padding: 13px 23px 12px;
			}
		}
	}
}
