.section-program {

	h2 {
		text-align: center;
		margin-bottom: 80px;
	}

	.sc-icon {
		display: block;
		background-repeat: no-repeat;
		margin-bottom: 40px;
	}

	.row {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h3 {
		font-size: 30px;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 25px;
		padding-left: 0;
	}

	p {
		font-size: 16px;
		line-height: 26px;
		font-weight: 100;
	}
}
