.wx-layout__horizont {
	.wx-wrap-navbar {
		.navbar-default {
			display: none;

			&.header-change-height {
				display: block;
				height: $navbar-height;
				background-color: $navbar-bg;
				border-bottom: 1px solid #ececec;
			}

			.navbar-nav {
				margin-top: 13px;

				> li {
					a {
						font-size: 15px;
						font-weight: 700;
						color: $navbar-link-color;
						text-transform: uppercase;
						padding: 10px 15px;

						&.btn-primary {
							border-color: $btn-primray-color;
							background-color: $btn-primray-color;
							color: #fff;
							padding: 10px 19px;
							margin-left: 18px;
						}
					}
				}
			}

			.logo {
				display: block;
				margin-top: 10px;

				svg {
					height: 50px;
				}
			}
		}
	}
}

.horizont-sidebar  {
	.st-container {

		.wx-sidebar {
			&.st-menu {
				.btn-primary {
					display: inline-block;
					background: $brand-color;
					border-color: $brand-color;
					color: #fff;
					margin-left: 15px;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.logo {
				svg {
					height: 100px;
					width: 75px;
					margin: 0 auto;
					display: block
				}
			}
		}
	}
}
