.section-news {
	h2 {
		text-align: center;
		margin-top: 0;
		font-weight: 600;
		font-size: 36px;
		margin-bottom: 72px;
	}

	.card-news-wrapper {
		margin-bottom: 58px;

		.card-iconic {
			padding: 0;
			background: transparent;
			.visual-forward {
				position: relative;
				height: 240px;
				margin: 0;
				background-image: url(/images/dist/default-event-sc.png);

				.link-forward {
					display: none;
				}

				&:hover {

					.link-forward {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background-color: rgba(60,137,193,.9);

						.icon--arrow-right-news {
							width: 25px;
						    background-image: url(/images/dist/sc-sprite.png);
						    background-position: 0px -177px;
						    height: 29px;
						    position: absolute;
						    top: 0;
						    margin: auto;
						    left: 0;
						    right: 0;
						    bottom: 0;
						    transform: rotate(-90deg);
						}
					}
				}
			}

			span {
				font-size: 14px;
				line-height: 28px;
				color: #cbcbcb;
				text-transform: uppercase;
				padding: 15px 0 0 0;
			}

			p {
				font-size: 20px;
				line-height: 26px;
				padding: 6px 0 0 0;
			}
		}
	}
	.btn-primary,
	.wx-list-more {
		border: 0;
		border-radius: 3px;
		padding: 15px 24px;
		transition: .3s;
		color: #fff;
		background: $brand-color;
		font-size: 14px;
		font-weight: 500;
	}
}
