.section-faq {
	.panel-heading {
		.panel-title {
			.accordion-toggle{

				display: flex;
				flex-direction: roww;

				.icon {
					color: $font-color;
					font-size: 13px;
					display: inline-table;
					width: 35px;
					padding-top: 3px;
					i {
						transform: rotate(90deg);
					}
				}

				&.collapsed {
					i {
						transform: rotate(0);
					}
				}
			}

			.desc {
				font-weight: 700;
				color: $font-color;
				font-size: 24px;
				line-height: 26px;
			}
		}
	}

	.panel-group .panel-heading+.panel-collapse>.panel-body {
		font-size: 16px;
		line-height: 26px;
		padding-left: 50px;
		border: 0;
	}
	.panel-group .panel,
	.panel-group .panel+.panel {
		border-radius: 0;
		border: 0;
		box-shadow: 0 0 0;
	}
}
