.section-team {

	.team-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.card-iconic {
			border: 0;
			margin-bottom: 55px;

			img {
				margin: 0 auto;
				height: 146px;
			}

			h3 {
				margin: 38px 0 15px 0;
				text-align: center;

				color: $font-color;
				font-size: 18px;
				font-weight: 700;
			}

			span {
				color: #cdcdcd;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
				margin-bottom: 20px;
			}

			.social {
				text-align: center;

				a {
					color: #a7a6a6;
					font-size: 16px;
					display: inline-block;

					&:nth-child(1) {
						margin: 0 5px;
					}
					&:nth-child(2) {
						margin: 0 5px;
					}
				}
			}
		}
	}
}
