.wx-layout__horizont {
	.wx-slider-container {

		.main-logo {
			display: inline-block;
			width: 156px;
			height: 180px;
			left: 50%;
			margin-left: -78px;
			top: 50px;
			position: absolute;
			background-image: url(/svg/sc-slider-logo.svg);
			background-repeat: no-repeat;
			background-size: 156px 180px;
			z-index: 1;
		}

		.bx-wrapper {
			ul {
				margin: 0;
				padding: 0;

				li {
					width: 100%;
					background-position: center center;
					background-size: cover;
					height: $slider-height;
					z-index: 9999;
					display: inline-block;
					position: absolute;
					text-align: center;
					color: $slider-text-color;

					.slider-elem__container {
						height: 490px;
					    margin: 250px 0 0;
					    padding: 0 100px;
					    display: inline-block;
					    position: relative;

						.slider-elem__text {
							width: 100%;
							display: table;
							height: 240px;

							.slider-elem__text-wrapper {
								display: table-cell;
								vertical-align: middle;

								h1 {
									width: 100%;
									color: $slider-text-color;
									font-size: 54px;
									font-weight: 700;
									padding: 0;
									margin: 0 0 5px 0;
									display: inline-block;

								}

								h3 {
									width: 100%;
									font-size: 40px;
									font-weight: normal;
									margin: 0;
									padding: 0;
									text-align: center;
									color: $slider-text-color;
								}
							}
						}

						.slider-elem__actions {
						    width: 100%;
						    display: inline-block;
						    position: absolute;
						    bottom: 40px;
						    left: 0;

							.pull-down {
								position: relative;
								margin: 83px 0 0 0;
								top: inherit;
								left: inherit;
								right: inherit;
								bottom: inherit;
								width: inherit;

								.pull-down__text {
									font-size: 14px;
									font-weight: 500;
									text-transform: uppercase;
								}

								.sc-icon {
									margin: 10px auto 0 auto;
									display: block;
								}
							}

							.btn-primary {
								background: $brand-color;
								color: #ffffff;
								font-size: 14px;
								font-weight: 500;
								padding: 18px 45px;
								border: 0;
							}
						}
					}
				}
			}

			.bx-controls-direction  {

				a {
					top: 50%;
					margin-top: -30px;
					height: 60px;
				}
			}

			.bx-prev {
				left: 37px;
			}

			.bx-next {
				right: 47px;
			}
		}
	}
}
