.section-events  {
	h2 {
		margin-bottom: 66px;
		margin-top: 0;
		text-align: center;
		font-weight: 600;
	}

	.bx-wrapper {
		margin-bottom: 58px;

		.programs-slider {
			height: 240px;

			.card-iconic {
				background-size: cover;
				background-position: top center;
				justify-content: flex-end;
				padding: 0;
				border: 0;
				cursor: pointer;

				.promgram-slider__cell {
					padding: 24px;
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.7) 69%,rgba(0,0,0,0.7) 97%,rgba(0,0,0,0.7) 100%);
					height: 100%;

					display: flex;
					flex-direction: row;
					align-items: flex-end;

					transition: .3s;

					&:hover {
						background: linear-gradient(to bottom,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.85) 69%,rgba(0,0,0,0.85) 97%,rgba(0,0,0,0.85) 100%);
					}

					.program-slider__cell-description {
						display: flex;
						flex-direction: row;
						align-items: flex-end;

						time {
							color: white;
							text-align: center;
							font-size: 33px;

							display: flex;
							flex-direction: column;
							position: relative;
    						bottom: -11px;

							sup {
								display: block;
								top: 0;
								font-size: 16px;
								text-transform: uppercase;
							}
						}

						.title {
							text-align: left;
							margin: 0;
							padding: 0 0 0 20px;
							line-height: 20px;
							color: $link-color;
							font-size: 18px;
						}
					}
				}
			}
		}

		.bx-controls-direction  {
			a {
				color: rgba(255,255,255, .5);

				&:hover {
					color: rgba(255,255,255,1)
				}
			}

			.bx-prev {
				width: 67px;
				height: 100%;

				top: 0;
				left: 0;

				padding-left: 8px;
				padding-top: 115px;

				background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3));

				margin: 0;

				z-index: 1;

				&:before {
					width: 16px;
					height: 18px;

					content: ' ';

					background-image: url(/images/dist/sc-sprite.png);
					background-position: 0 -207px;

					display: block;
					opacity: .4;
					transition: .3s;
					position: relative;
					left: 11px;
				}

				&:hover {
					background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6));

					&:before {
						opacity: 1;
					}
				}
			}

			.bx-next {
				width: 67px;
				height: 100%;

				top: 0;
				right: 0;

				padding-right: 20px;
				padding-top: 115px;

				background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3));

				margin: 0;

				z-index: 1;

				&:before {
					width: 16px;
					height: 18px;

					content: ' ';
					background-image: url(/images/dist/sc-sprite.png);
					background-position: 0 -226px;

					display: block;

					opacity: .4;

					transition: .3s;

					position: relative;

					right: -25px;
				}

				&:hover {
					background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6));

					&:before {
						opacity: 1;
					}
				}
			}
		}

		.bx-pager {
			bottom: -75px;

			&.bx-default-pager {
				a {
					width: 14px;
					height: 14px;
					border-radius: 0;
					background: #e7e7e7;

					&.active {
						background: #676767;
					}
				}
			}
		}
	}
}
