.section-about {
	background: $brand-color;
	color: white;
	border-top: 1px solid rgba(255, 255, 255, 0.20);

	svg {
		width: 100%;
	}

	h3 {
		font-size: 30px;
		line-height: 30px;
		color: white;
		margin: 0 0 35px 0;
		font-weight: 700;
	}

	p {
		color: #fff;
		font-size: 18px;
		line-height: 28px;
		margin: -8px 0 20px;
		font-weight: 100;
	}

	a {
		color: white;
		font-size: 18px;
	}
}
