.section-partners {
	background-color: #f5f6f8;
	padding-bottom: 53px;
	padding-top: 53px;

	h2 {
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 28px;
		margin-top: 0;
		margin-top: 30px;
	}

	.logo-container {
		display: table;
		//height: 50px;
		padding: 30px 0;

		img {
			display: table-cell;
			vertical-align: middle;
			max-height: 180px;
    		max-width: 180px;
		}
	}

}
