/*
	Sizes
********************************************************************/
$page-width: 						 100%;
$slider-height: 					740px;
$navbar-height: 					 75px;
$wx-image-background-height:		$slider-height;
$sidebar-width: 					240px;

/*
	Base Typo
********************************************************************/
$font-size: 						13px;
$font-color: 						#1e1e1e;
$font-family: 						'Open Sans', sans-serif;

/*
	Colors Backgrounds
********************************************************************/
$body-bg:							#fff;

$brand-color: 						#3c89c1;

$link-color: 						#fff;
$link-hover-color:					lightgray;

$btn-primray-color: 				#3c89c1;
$btn-primray-bg: 					#fff;
$btn-primray-border: 				#fff;

$btn-primray-hover-color: 			#fff;
$btn-primray-hover-bg: 				#306d9a;
$btn-primray-hover-border: 			#306d9a;

/*
	Navbar
********************************************************************/

$navbar-bg: 						#fff;
$navbar-scrolled-bg: 				#fff;
$navbar-link-color:					#000;

/*
	Header
********************************************************************/
$header-effect-bg: 					#fff;
$wx-header-color: 					#fff;
$slider-text-color: 				#fff;


$slider-control-color: 				#fff;
$slider-control-color-hover: 		#fff;
/*
	Footer
********************************************************************/

$footer-bg: 						#2b2b2c;
$footer-color: 						#fff;

/*
	Pull Down
********************************************************************/
$pull-down-button-bg: 				#fff;
$pull-down-button-hover-bg: 		#fff;

$pulldown-color:					#fff;
$pulldown-color-hover:				#fff;
/*
	Sidebar
********************************************************************/
$sidebar-bg: 						black;
$sidebar-head-color: 				#fff;
$sidebar-link-color:				#fff;
$sidebar-link-hover-color: 			lightgray;

/*
	Card's
********************************************************************/
$card-iconic-bg: 					#fff;
$card-iconic-border-color: 			black;

$card-slider-controls-bg: 			black;
$card-slider-controls-hover-bg: 	lightgray;

$card-slider-controls-color: 		#fff;
$card-slider-controls-hover-color: 	#fff;

/*
	Timeline
********************************************************************/

$timeline-bullet-border: 			black;
$timeline-bullet-bg: 				#fff;
$timeline-line-color: 				black;
