<!-- BX Slider -->
<div class="wx-slider-container">
	<span class="main-logo"></span>
	<ul class="bxslider" style="display:none">
		<? foreach ($this->slides as $slide): ?>
			<li style="background-image: url('<?=$slide['image']?>')">
				<span class="slider-elem__container">
					<span class="slider-elem__text">
						<span class="slider-elem__text-wrapper">
							<h1><?=$slide['title']?></h1>
							<? if (!empty($slide['subtitle'])): ?>
								<h3><?=$slide['subtitle']?></h3>
							<? endif; ?>
						</span>
					</span>
					<span class="slider-elem__actions">
						<? if (!empty($slide['buttonlink'])): ?>
							<p>
								<a href="<?=$slide['buttonlink']?>" target="_blank" class="btn btn-primary"><?=$slide['buttontitle']?></a>
							</p>
						<? endif; ?>

						<? if ($slide['forward'] == 1): ?>
							<a href="#" class="pull-down" rel="ismerd-meg">
								<span class="pull-down__text"><?=t('LANDING_MAIN_FORWARD_LABEL')?></span>
								<span class="clearfix"></span>
								<span class="sc-icon icon-pull-down"></span>
							</a>
						<? endif; ?>
					</span>
				</span>
			</li>
		<? endforeach; ?>
	</ul>
</div>

<?php
/*

<div class="wx-slider-container">
	<ul class="bxslider" style="display:none">

		<? foreach ($this->slides as $key => $one): ?>
		<li style="background-image: url('<?=$one['image']?>')">
			<span class="slider-elem__container">
				<h1><?=$one['title']?></h1>
				<? if ($one['forward'] == 1): ?>
					<a href="#" class="pull-down" rel="ismerd-meg">
						<span class="clearfix"></span>
						<span class="icon--arrow-down"></span>
					</a>
				<? endif; ?>
			</span>
		</li>
		<? endforeach; ?>

	</ul>
</div>
*/
?>
