<section class="section-registration p83">
	<div class="container">
		<div class="row ">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				<h3><?=t('SECTION_APPLY_TITLE')?></h3>
				<p>
					<?=t('SECTION_APPLY_SUBTITLE')?>
				</p>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<a href="<?=t('TAB_APPLY_LINK')?>" target="_blank" class="btn btn-primary"><?=t('SECTION_APPLY_APPLY_BUTTON')?></a>
			</div>
		</div>
	</div>
</section>
