<section class="section-partners p83">
	<div class="container">
		<? foreach ($this->partners as $section): ?>
			<? if (!empty($section['partners'])): ?>
				<h2><?=$section['title']?></h2>
				<div class="row">
					<? foreach ($section['partners'] as $partner): ?>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
							<span class="logo-container">
								<? if (empty($partner['link'])): ?>
									<a href="javascript:void(0)"><img class="img-responsive" src="<?=$partner['logo']?>" alt=""></a>
								<? else: ?>
									<a href="<?=$partner['link']?>" target="_blank"><img class="img-responsive" src="<?=$partner['logo']?>" alt=""></a>
								<? endif; ?>
							</span>
						</div>
					<? endforeach; ?>
				</div>
			<? endif; ?>
		<? endforeach; ?>
	</div>
</section>
