<section class="section-incube p83">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<img src="/images/dist/logo-incube.png" class="img-responsive pull-right" alt="<?=t('SECTION_INCUBE_TITLE')?>">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
				<h3><?=t('SECTION_INCUBE_TITLE')?></h3>
				<p>
					<?=t('SECTION_INCUBE_DESCRIPTION')?>
				</p>
				<a href="<?=t('SECTION_INCUBE_LINK')?>" target="_blank"><?=t('SECTION_INCUBE_LINK_TITLE')?></a>
			</div>
		</div>
	</div>
</section>
