<section class="section-about p83">
	<div class="container">
		<div class="row ">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
			<svg fill="#fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 71.999 91.173">
				<path d="M9.207 15.04v-2.025h5.227v-2.153H9.207V8.837H14.9V6.554H6.553v10.77h8.394V15.04m43.328 50.407v-4.26h4.534v4.26h2.63V54.674h-2.63v4.197h-4.54v-4.19h-2.65v10.77"/>
				<path d="M69.677 3.972v65.705H3.957l65.72-65.705zM2.322 2.322h65.72L2.32 68.028V2.322zM0 72h72V0H0v72zm11.395 5.726v-1.33h-4.86v6.278h4.888v-1.33H8.08V80.16h3.043v-1.254H8.08v-1.18m6.043 1.31l3.176 3.638h1.27v-6.278h-1.54v3.746l-3.18-3.746h-1.28v6.278h1.54m8.95 0v-4.93h2.04v-1.35h-5.6v1.35h2.03v4.93m9.35-4.948v-1.33h-4.87v6.278h4.89v-1.33h-3.34V80.16h3.04v-1.254h-3.04v-1.18"/>
				<defs>
					<path id="a" d="M0 0h72v91.173H0z"/>
				</defs>
				<clipPath id="b">
					<use xlink:href="#a" overflow="visible"/>
				</clipPath>
				<path clip-path="url(#b)" d="M37.504 78.446c0-.612-.205-1.106-.617-1.484s-.96-.566-1.64-.566H32.07v6.278h1.545v-2.156h.45l1.894 2.156h1.86l-1.97-2.232c.51-.113.91-.344 1.21-.698s.44-.785.44-1.298m-1.77.572c-.17.138-.39.207-.66.207h-1.46v-1.51h1.46c.27 0 .49.07.66.207.16.138.25.318.25.543 0 .232-.09.416-.25.553m8.28-.458c0-.65-.21-1.173-.62-1.57-.42-.396-.98-.595-1.68-.595h-3.09v6.28h1.54V80.75h1.48c.72 0 1.3-.2 1.73-.6.43-.4.64-.93.64-1.592m-1.78.66c-.17.16-.41.24-.71.24h-1.36v-1.745h1.36c.294 0 .53.08.702.238.176.16.262.37.262.63 0 .27-.09.48-.26.64m8.224-.77c0-.61-.21-1.1-.62-1.48-.41-.38-.96-.56-1.64-.56h-3.17v6.28h1.55v-2.16h.45l1.89 2.16h1.86l-1.964-2.24c.51-.11.915-.34 1.21-.69s.44-.78.44-1.3m-1.77.57c-.17.13-.39.2-.67.2h-1.46v-1.51h1.46c.27 0 .5.07.66.21.16.14.245.32.245.55 0 .235-.08.42-.247.556m2.886-2.626h1.55v6.28h-1.55zm6.24 2.56l-1.305-.29c-.34-.077-.505-.25-.505-.527 0-.18.08-.33.23-.45.16-.12.36-.18.617-.18.26 0 .49.077.7.23.2.15.34.37.39.65l1.52-.31c-.117-.57-.406-1.012-.87-1.333-.46-.32-1.04-.48-1.726-.48-.74 0-1.34.174-1.8.53-.45.36-.68.84-.68 1.444 0 .96.56 1.565 1.686 1.82l1.316.28c.22.046.37.11.46.2.09.087.13.204.13.355 0 .193-.084.35-.247.47-.164.12-.393.18-.68.18-.674 0-1.086-.31-1.24-.93l-1.59.31c.08.6.376 1.07.886 1.4.51.334 1.13.502 1.86.502.74 0 1.35-.18 1.85-.537.49-.35.74-.85.74-1.5 0-.96-.58-1.57-1.73-1.82m4.38 1.2h3.044v-1.26H62.2v-1.18h3.32V76.4h-4.87v6.278h4.893v-1.33H62.19M10.72 87.2H8.08v-2.444H6.534v6.277h1.544V88.55h2.643v2.484h1.54v-6.276h-1.54m6.89 3.444c0 .477-.11.853-.34 1.13-.22.28-.52.417-.89.417-.39 0-.71-.14-.95-.42-.23-.28-.35-.66-.35-1.13v-3.45h-1.55v3.45c0 .9.26 1.62.79 2.16.52.54 1.21.81 2.07.81.84 0 1.51-.27 2.02-.81s.76-1.26.76-2.16v-3.45h-1.55v3.45zm7.27.3l-3.18-3.746h-1.29v6.277h1.55V87.4l3.18 3.635h1.28V84.76h-1.54m12.14-.003l-2.62 6.277h1.66l.44-1.14h2.64l.44 1.142h1.65L38.6 84.76h-1.58zm0 3.803l.8-2.062.8 2.062h-1.6zm9.93-.455c.3-.352.45-.784.45-1.297 0-.613-.202-1.108-.62-1.485-.41-.38-.96-.566-1.64-.566h-3.18v6.277h1.54V88.88h.45l1.898 2.154h1.86l-1.965-2.23c.51-.112.914-.344 1.207-.698m-1.98-.518H43.5v-1.51h1.46c.274 0 .495.07.66.207.166.138.248.32.248.544 0 .23-.082.41-.248.55-.168.14-.39.2-.664.2m5.95-.08l-1.546-2.75h-1.68l2.428 4.33v1.95h1.574v-1.97l2.48-4.31h-1.72m-21.82 2.58v1.31h1.92c-.117.35-.322.62-.61.82-.292.2-.642.3-1.048.3-.526 0-.965-.18-1.32-.54-.352-.36-.53-.81-.53-1.34s.174-.97.518-1.33c.342-.36.77-.54 1.282-.54.278 0 .514.05.73.14.24.09.445.22.61.41l1.57-.434c-.226-.43-.555-.78-.998-1.04-.475-.28-1.01-.43-1.605-.473-.1 0-.2-.013-.31-.013-.94 0-1.74.317-2.38.95-.65.634-.97 1.41-.97 2.33 0 .924.33 1.7.98 2.333.65.63 1.46.95 2.4.95s1.73-.31 2.34-.93c.61-.614.92-1.4.92-2.347 0-.18-.01-.37-.04-.57h-3.46z"/>
			</svg>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-md-offset-1 col-lg-offset-1">
				<h3><?=t('SECTION_EH_TITLE')?></h3>
				<p>
					<?=t('SECTION_EH_DESCRIPTION')?>
				</p>
				<a href="<?=t('SECTION_EH_LINK')?>"><?=t('SECTION_EH_LINK_TITLE')?></a>
			</div>
		</div>
	</div>
</section>
