<nav class="wx-sidebar st-menu st-effect-1" id="menu-1">
	<ul>
		<li>
			<a href="<?=Eh_Url::index()?>" title="Startup Campus" class="logo">
				<svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="248.066" height="393.863" viewBox="0 0 248.0664063 393.8632813"><path d="M31.007 89.517l31.01-17.904 31.01-17.9 31.006-17.905 31.01 17.9 31.007 17.9v.005l31.01 17.904v107.415l31.006 17.903V71.613L217.06 53.708l-31.01-17.9v-.003L155.042 17.9v.004L124.032 0v.003L93.027 17.907l-31.01 17.9-31.01 17.905-31.002 17.9L0 71.61v35.807l31.007 17.902"/><path d="M186.05 322.252l-31.008 17.903-31.01 17.903-31.006-17.903-31.01-17.903-31.01-17.902L0 322.252l31.007 17.903 31.01 17.903 31.01 17.903 31.006 17.903 31.01-17.902 31.007-17.902 31.01-17.903 31.006-17.903V250.64l-31.006-17.903-31.01-17.9V107.417l-31.008-17.9v-.002l-31.01-17.906-31.006 17.905-31.01 17.902 31.01 17.902 31.007-17.903 31.01 17.902v71.613l-31.01-17.902-31.007-17.903-31.01-17.903-31.01-17.905L0 107.416v35.807l31.007 17.903 31.01 17.904 31.01 17.903 31.006 17.903 31.01 17.9v35.5l-31.01 17.906-31.007-17.905v-35.804l-31.01-17.902-31.01-17.902v.304L0 179.032V322.25l31.007-17.9v-71.917l31.01 17.902v35.807l31.01 17.902 31.006 17.903 31.01-17.903 31.007-17.902v-35.5l31.01 17.9v35.808"/></svg>
			</a>
		</li>
		<li><a href="<?=Eh_Url::about()?>"><?=t('TAB_PROGRAM_TITLE')?></a></li>
		<li><a href="<?=Eh_Url::team()?>"><?=t('TAB_TEAM_TITLE')?></a></li>
		<li><a href="<?=Eh_Url::startup()?>"><?=t('TAB_STARTUPS_TITLE')?></a></li>
		<li><a href="<?=Eh_Url::partner()?>"><?=t('TAB_PARTNERS_TITLE')?></a></li>
		<li><a href="<?=Eh_Url::incube()?>"><?=t('TAB_INCUBE_TITLE')?></a></li>
		<li><a href="<?=Eh_Url::faq()?>"><?=t('TAB_FAQ_TITLE')?></a></li>
		<li><a href="<?=t('TAB_APPLY_LINK')?>" target="_blank" class="btn btn-primary"><?=t('TAB_APPLY_TITLE')?></a></li>
	</ul>
</nav>
