<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto({
    	social_tools: false
    });
  });
</script>
<section class="section-startup section-startup--profile p83">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 left">
				<? if (!empty($this->profile['logo'])): ?>
					<img src="<?=$this->profile['logo']?>" alt="<?=$this->profile['name']?>" class="logo">
				<? endif; ?>
				<section>
					<h5><?=$this->profile['usp']?></h5>
					<?=nl2br($this->profile['details'])?>
				</section>

				<? foreach ($this->leftSections as $one): ?>
					<? if (!empty($this->profile[$one['field']])): ?>
						<section>
							<h5><?=$one['title']?></h5>
							<?=nl2br($this->profile[$one['field']])?>
						</section>
					<? endif; ?>
				<? endforeach; ?>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 right">
				<? foreach ($this->rightSections as $one): ?>
					<? if (!empty($this->profile[$one['field']])): ?>
						<article>
							<h5><?=$one['title']?></h5>
							<p><?=nl2br($this->profile[$one['field']])?></p>
						</article>
					<? endif; ?>
				<? endforeach; ?>
			</div>
			<? if (!empty($this->profile['images'])): ?>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 startup-images">
					<h3>Képek</h3>
					<? foreach ($this->profile['images'] as $one): ?>
						<a href="<?=$one['normal']?>" rel="prettyPhoto[]"><img src="<?=$one['thumbnail']?>" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
					<? endforeach; ?>
				</div>
			<? endif; ?>
		</div>
	</div>
</section>
