<div class="section-startup section-startup--list">
	<div class="container">
		<div class="row">
			<div class="content-tab__wrapper">
				<ul class="nav nav-tabs" id="startup-batches">
					<? foreach ($this->batches as $key => $one): ?>
						<li<?=($key == 0 ? ' class="active"' : '')?>>
							<a href="#batch<?=$one['id']?>">
								<small><?=$one['subtitle']?></small>
								<span><?=$one['title']?></span>
							</a>
						</li>
					<? endforeach; ?>
				</ul>
				<div class="tab-content">
					<? $i = 0; foreach ($this->startups as $batch => $one): $i++; ?>
						<div class="p83 tab-pane<?=($i == 1 ? ' active' : '')?>" id="batch<?=$batch?>">
							<? foreach ($one as $key => $startup): ?>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 startup-card">
									<a href="<?=$startup['link']?>">
										<? if (!empty($startup['logo'])): ?>
											<img class="img-responsive" src="<?=$startup['logo']?>" alt="<?=$startup['name']?>">
										<? else: ?>
											<h3><?=$startup['name']?></h3>
										<? endif; ?>
									</a>
									<p>
										<?=$startup['intro']?> 
										<a href="<?=$startup['link']?>"><?=t('STARTUPS_LIST_NEXT_LABEL')?></a>
									</p>
								</div>
								<? if (($key + 1) % 2 == 0): ?>
									<div class="clearfix"></div>
								<? endif; ?>
							<? endforeach; ?>
						</div>
					<? endforeach; ?>
				</div>
			</div>
		</div>
	</div>
</div>
