<? if ($this->getPaginator()->getMode() == 'ajax' && $this->getInit()): ?>
	<script>
		$(function(){
			$('#<?=$this->getId()?>').wxlist({page:<?=$this->getPage()?>});
		})
	</script>
<? endif; ?>

<? if ($this->getPaginator()->getType() == 'more' && $this->getPaginator()->getAutoload()): ?>
	<script>
		$(function(){
			$(window).unbind('scroll').bind('scroll',function(e){
				var list = $('#<?=$this->getId()?>'),
					offset = list.offset(),
					height = list.height(),
					top = offset.top,
					windowHeight = $(window).height(),
					windowTop = $(window).scrollTop();

				if (windowTop + windowHeight >= top + height) {
					list.find('.wx-list-more').click();
				}
			});
		})
	</script>
<? endif; ?>


			