<? if (empty($this->variables['url'])) : ?>
	<? $message = 'You must set in the edit button\'s url!'; ?>
	<? throw new Exception($message); ?>
<? endif; ?>

<? $class = APP_NAME . '_Url'; ?>

<a href="<?=$this->variables['url'];?>/<?=$class::adminEdit($this->row['id'])?>" class="btn small gray"><i class="fa fa-pencil"></i></a>