<section class="section-team p83">
	<div class="container">
		<div class="row team-wrapper">
			<? foreach ($this->team as $one): ?>
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<div class="card-iconic">
						<img class="img-responsive img-circle" src="<?=$one['image']?>" alt="">
						<h3><?=$one['name']?></h3>
						<span><?=$one['description']?></span>

						<? if (!empty($one['linkedin']) || !empty($one['email'])): ?>
							<div class="social">
								<? if (!empty($one['email'])): ?>
									<a href="mailto:<?=$one['email']?>"><i class="fa fa-envelope"></i></a>
								<? endif; ?>
								<? if (!empty($one['linkedin'])): ?>
									<a href="<?=$one['linkedin']?>" target="_blank"><i class="fa fa-linkedin-square"></i></a>
								<? endif; ?>
							</div>
						<? endif; ?>
					</div>
				</div>
			<? endforeach; ?>
		</div>
	</div>
</section>
